Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "cd react-app && npx eslint --fix",
    "cd react-app && npx prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

T084: run API under gunicorn
  api/.Dockerfile
  api/entrypoint.sh
  api/requirements.txt
  api/tests/test_process_model.py
  docs/STACK.md
Due: npx prettier --write

Mark T084 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T085: add DB pooling and timeouts
  api/db.py
  api/settings.py
Due: none

Mark T085 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T086-T089: add CI workflows and guards
  .github/workflows/ci-backend.yml
  .github/workflows/ci-contract.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-repo-guards.yml
  django/conftest.py
  django/project/settings/test.py
  pyproject.toml
  scripts/contract_check.py
  scripts/repo_guard.sh
Due: npx prettier --write

Mark T086-T089 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T090: email outbox + Django Celery
  .env.example
  django/project/__init__.py
  django/project/celery.py
  django/project/settings/base.py
  django/requirements.txt
  django/tests/test_email_outbox.py
  django/users/emails.py
  django/users/migrations/0002_emailoutbox.py
  django/users/models.py
  django/users/tasks.py
  local.docker.yml
Due: npx prettier --write

Fix celery build + ping compatibility
  digital_ocean/scripts/powershell/deploy.ps1
  django/users/tasks.py
Due: none

Run celery services without Django entrypoint
  local.docker.yml
Due: npx prettier --write

Fix: Celery compose sh -c command
  local.docker.yml
Due: npx prettier --write

Fix: register base2.ping task
  django/users/tasks.py
Due: none

Fix: Celery ping returns pong
  django/users/tasks.py
Due: none

Docs: email outbox + mark T090 complete
  docs/STACK.md
  specs/001-django-fastapi-react/quickstart.md
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T091 email verification flow
  api/routes/auth.py
  django/tests/test_email_verification.py
  django/users/api_urls.py
  django/users/api_views.py
  django/users/migrations/0003_onetimetoken.py
  django/users/models.py
  django/users/tokens.py
  react-app/src/__tests__/verify-email.test.js
  react-app/src/contexts/AuthContext.js
  react-app/src/pages/VerifyEmail.js
  react-app/src/services/api.js
  specs/001-django-fastapi-react/contracts/openapi.yaml
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Fix UpdateOnly to rebuild images
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Mark T091 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T092 password reset flow
  api/routes/auth.py
  api/tests/test_password_reset_proxy.py
  django/tests/test_password_reset.py
  django/users/api_urls.py
  django/users/api_views.py
  django/users/tokens.py
  docs/SECURITY.md
  react-app/src/__tests__/password-reset.test.js
  react-app/src/contexts/AuthContext.js
  react-app/src/pages/ForgotPassword.js
  react-app/src/pages/ResetPassword.js
  react-app/src/services/api.js
  specs/001-django-fastapi-react/contracts/openapi.yaml
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Stabilize deploy gate (artifacts/timeout)
  .prettierignore
  digital_ocean/scripts/powershell/deploy.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T093 audit admin + indexes
  django/users/admin.py
  django/users/migrations/0004_auditevent_indexes.py
  django/users/models.py
  docs/SECURITY.md
Due: npx prettier --write

Mark T093 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T094 structured JSON logging
  api/logging.py
  api/main.py
  api/middleware/request_id.py
  api/routes/_proxy.py
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  django/project/logging.py
  django/project/middleware/__init__.py
  django/project/middleware/request_id.py
  django/project/settings/base.py
  django/users/api_views.py
  django/users/tasks.py
  traefik/traefik.yml
Due: npx prettier --write

Fix remote verify python heredoc
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Fix request-id artifact dirs
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Fix request-id artifact path
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Fix request-id JSON writer
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Add Django request JSON log
  django/project/middleware/request_id.py
Due: none

Probe request-id via Django path
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Probe request-id via login
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Widen request-id log grep window
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Poll request-id probe for buffered logs
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Stabilize request-id probe container IDs
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Emit django.request JSON logs
  django/project/settings/base.py
Due: none

Probe request-id across all containers
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Probe Django request-id via loopback health
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Run Django request-id probe inside container
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Always propagate X-Request-Id to Django
  api/clients/django_client.py
Due: none

Stabilize django RID probe log
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Use django.setup in RID probe
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Fix request-id probe; log RID in celery ping
  api/main.py
  api/tasks.py
  digital_ocean/scripts/powershell/deploy.ps1
  django/users/tasks.py
Due: none

Pass RID into django exec probe
  digital_ocean/scripts/powershell/deploy.ps1
Due: none
