Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

starting new featuere
  .github/agents/copilot-instructions.md
  .specify/memory/constitution.md
  .specify_prereq_gitbash.json
  .speckit_analyze_prereq.json
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  specs/001-django-fastapi-react/checklists/requirements.md
  specs/001-django-fastapi-react/contracts/openapi.yaml
  specs/001-django-fastapi-react/data-model.md
  specs/001-django-fastapi-react/plan.md
  specs/001-django-fastapi-react/quickstart.md
  specs/001-django-fastapi-react/research.md
  specs/001-django-fastapi-react/spec.md
  specs/001-django-fastapi-react/tasks.md
  specs/001-fastapi-django-deploy/data-model.md
  specs/001-fastapi-django-deploy/plan.md
  specs/001-fastapi-django-deploy/quickstart.md
  specs/001-fastapi-django-deploy/research.md
  specs/001-fastapi-django-deploy/spec.md
  specs/001-fastapi-django-deploy/tasks.md
  specs/1-scripts_and_docs/plan.md
  specs/1-scripts_and_docs/spec.md
  specs/1-scripts_and_docs/tasks.md
  specs/2-digital-ocean-integration/plan.md
  specs/2-digital-ocean-integration/spec.md
  specs/2-digital-ocean-integration/tasks.md
Due: npx prettier --write

fix(api): include OpenAPI SessionCookie/CsrfToken schemes and eager schema generation
  api/main.py
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

updated
  .env.example
  README.md
  api/main.py
  api/middleware/errors.py
  api/middleware/request_id.py
  api/pytest.ini
  api/redis_client.py
  api/requirements.txt
  api/security/rate_limit.py
  api/settings.py
  api/tests/test_smoke.py
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  django/conftest.py
  django/project/settings/production.py
  django/pytest.ini
  django/requirements.txt
  django/tests/test_smoke.py
  docs/DEPLOY.md
  docs/SECURITY.md
  docs/STACK.md
  specs/001-django-fastapi-react/research.md
  specs/001-django-fastapi-react/tasks.md
  traefik/dynamic.yml
Due: npx prettier --write

Spec-Kit: T022T024 wiring; container pytest artifacts; React Jest; overlay dir fix; api import fallback; map artifacts
  api/__init__.py
  api/tests/test_smoke.py
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

deploy: Jest Windows CI fallback; misc deploy fixes
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

deploy/tests: run api pytest from /app; make react test:ci cross-env
  digital_ocean/scripts/powershell/deploy.ps1
  react-app/package.json
Due: npx prettier --write

tests: fix api smoke import path; make local jest robust
  api/tests/test_smoke.py
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

deploy: run react npm commands via cmd for reliable capture
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

deploy: don't treat npm warnings as fatal
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

react tests: mock axios to avoid ESM Jest crash
  react-app/package-lock.json
  react-app/src/__mocks__/axios.js
  react-app/src/setupTests.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

spec tasks: remove duplicate T003 entry
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

US1: add deploy verification checks
  api/main.py
  digital_ocean/scripts/powershell/test.ps1
  specs/001-django-fastapi-react/quickstart.md
Due: npx prettier --write

Fix API routes for /api stripPrefix
  api/main.py
  digital_ocean/scripts/powershell/test.ps1
Due: none

US2: add internal auth API, FastAPI proxy routes, and tests
  api/clients/django_client.py
  api/main.py
  api/routes/__init__.py
  api/routes/_proxy.py
  api/routes/auth.py
  api/routes/users.py
  api/security/__init__.py
  api/tests/test_auth_proxy.py
  api/tests/test_rate_limit.py
  django/project/settings/base.py
  django/project/urls.py
  django/tests/test_audit_events.py
  django/tests/test_auth_api.py
  django/users/api_urls.py
  django/users/api_views.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Fix api package layout in container
  api/.Dockerfile
  api/clients/__init__.py
  api/main.py
  api/middleware/__init__.py
Due: none

Mark US2 (T031T044) complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

US2: React login/signup routes + tests
  react-app/src/App.js
  react-app/src/__tests__/AuthContext.test.js
  react-app/src/__tests__/auth.test.js
  react-app/src/components/Navigation.js
  react-app/src/contexts/AuthContext.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/Signup.jsx
  react-app/src/services/api.js
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

US3 dashboard/settings + profile update tests
  api/routes/users.py
  api/tests/test_auth_proxy.py
  api/tests/test_profile_update.py
  api/tests/test_rate_limit.py
  react-app/src/App.js
  react-app/src/__tests__/dashboard.test.js
  react-app/src/__tests__/protected-route.test.js
  react-app/src/__tests__/settings.test.js
  react-app/src/components/ProtectedRoute.js
  react-app/src/components/ProtectedRoute.jsx
  react-app/src/contexts/AuthContext.js
  react-app/src/hooks/useAuth.js
  react-app/src/lib/apiClient.js
  react-app/src/pages/Dashboard.js
  react-app/src/pages/Dashboard.jsx
  react-app/src/pages/Settings.jsx
  react-app/src/setupTests.js
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

US4: Google OAuth start/callback
  api/main.py
  api/routes/oauth.py
  api/tests/test_oauth_proxy.py
  django/tests/test_oauth_google.py
  django/users/api_urls.py
  django/users/api_views.py
  react-app/src/App.js
  react-app/src/__tests__/auth.test.js
  react-app/src/__tests__/oauth.test.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/OAuthCallback.jsx
  specs/001-django-fastapi-react/quickstart.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Mark US4 tasks complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Docs: security + quickstart checklist
  .specify/scripts/bash/common.sh
  docs/SECURITY.md
  specs/001-django-fastapi-react/quickstart.md
Due: npx prettier --write

Mark Phase 7 tasks complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

US1: add verification timing/tls probes
  digital_ocean/scripts/powershell/test.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

test.ps1: warm up login timing probe
  digital_ocean/scripts/powershell/test.ps1
Due: none

US1: AllTests prefers UpdateOnly + mode artifact
  digital_ocean/scripts/powershell/deploy.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Docs: use docker compose v2; ignore local binaries
  .gitignore
  README.md
Due: npx prettier --write

Verify: stabilize login p99 timing probe
  digital_ocean/scripts/powershell/test.ps1
Due: none

Verify: login timing under normal load
  digital_ocean/scripts/powershell/test.ps1
Due: none

Perf: tune Django PBKDF2 iterations
  django/project/password_hashers.py
  django/project/settings/base.py
Due: none

Chore: mark T072 and T079 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Hardening: Django entrypoint script
  django/.Dockerfile
  django/entrypoint.sh
Due: none

Chore: complete T080
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Feat: add Django internal health probe
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  django/project/urls.py
  django/project/views.py
Due: none

Fix: Django internal health probe + login p99
  digital_ocean/scripts/powershell/deploy.ps1
  django/project/password_hashers.py
  django/project/settings/base.py
Due: none

Chore: complete T081
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Feat: Traefik CSP + security headers gate
  digital_ocean/scripts/powershell/test.ps1
  docs/SECURITY.md
  traefik/dynamic.yml
Due: npx prettier --write

Chore: complete T082
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T083: harden TLS mode guard
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  docs/DEPLOY.md
Due: npx prettier --write

Mark T083 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Path conditions:
  cd react-app && npx eslint --fix: any of: react-app/src/**/*.{js,jsx}
  cd react-app && npx prettier --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
