Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: expand reviewed media visual proof
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-compact-chromium-compact-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-landscape-touch-chromium-landscape-touch-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-phone-dpr3-chromium-phone-dpr3-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-tablet-chromium-tablet-linux.png
  react-app/src/styles/media-library.css
  scripts/tests/test_media_visual_review.py
  shared/schemas/media-visual-review-v1.schema.json
Due: npx prettier --write

test: accept source-bound media visuals
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

feat: add media portability governance
  django/sitecontent/migrations/0015_media_portability_and_abuse.py
  django/sitecontent/models.py
  django/tests/test_media_library_models.py
  modules/media/module.json
  scripts/config/surface-drift-v1.json
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/tests/test_media_library_manifest.py
  scripts/tests/test_media_library_migration.py
Due: npx prettier --write

feat: complete governed media workflows
  api/repositories/media_library.py
  api/routes/media_library.py
  api/tests/test_media_library_routes.py
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-desktop-chromium-desktop-linux.png
  react-app/src/__tests__/media-library-api.test.js
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/services/mediaLibrary.js
  react-app/src/styles/media-library.css
  scripts/config/surface-drift-v1.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: bind reviewed media workflow visuals
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

test: cover governed media failure paths
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
Due: none

test: repeat critical media boundaries
  scripts/tests/run_media_critical_repeats.sh
Due: none

docs: record final media assurance cycles
  specs/105-universal-media-library/analysis.md
Due: npx prettier --write

feat: finish media discovery and selection flows
  api/repositories/media_library.py
  api/routes/media_library.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/__tests__/media-picker.test.jsx
  react-app/src/components/media/MediaPicker.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/services/mediaLibrary.js
  react-app/src/styles/media-library.css
  scripts/config/surface-drift-v1.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: complete media replacement and preview contracts
  api/services/media_library_operations.py
  api/services/media_library_processor.py
  api/tests/test_media_library_operations.py
  api/tests/test_media_library_processor.py
Due: none

test: extend critical media repetition matrix
  scripts/tests/run_media_critical_repeats.sh
Due: none

docs: close final media gap analysis
  specs/105-universal-media-library/analysis.md
Due: npx prettier --write

test: cover media picker keyboard loop
  react-app/src/__tests__/media-picker.test.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

fix: enforce media typecheck in release gate
  api/routes/media_library.py
  api/services/media_library_operations.py
  api/tests/test_media_library_operations.py
  requirements-dev-api.txt
  scripts/config/complete-gate-v1.json
  scripts/tests/test_complete_gate.py
Due: npx prettier --write

chore: reconcile release surface lock
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix: remove frontend dependency advisories
  react-app/package-lock.json
  react-app/package.json
Due: npx prettier --write

fix: connect governed media runtime workers
  api/services/content_workspace_scanner.py
  api/services/media_library_parser.py
  api/services/media_library_runtime.py
  api/tasks.py
  api/tests/test_media_library_runtime.py
Due: none

fix: remediate media accessibility review
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-compact-chromium-compact-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-landscape-touch-chromium-landscape-touch-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-phone-dpr3-chromium-phone-dpr3-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-tablet-chromium-tablet-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-ultrawide-chromium-ultrawide-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-desktop-chromium-desktop-linux.png
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/__tests__/media-picker.test.jsx
  react-app/src/components/media/MediaPicker.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/styles/media-library.css
  scripts/tests/test_media_visual_review.py
  shared/schemas/media-visual-review-v1.schema.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: bind reviewed media remediation visuals
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix(media): harden tenant and upload boundaries
  api/repositories/content_workspace.py
  api/repositories/media_library.py
  api/routes/content_workspace.py
  api/routes/media_library.py
  api/security/rate_limit.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_repository_media_relationships.py
  api/tests/test_content_workspace_route_failures.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  django/sitecontent/migrations/0016_media_security_boundaries.py
  modules/media/module.json
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/tests/test_media_library_manifest.py
  scripts/tests/test_media_library_migration.py
Due: npx prettier --write

fix: isolate nested media confirmation
  react-app/e2e/media/media-release.spec.ts
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  scripts/tests/test_media_visual_review.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

docs: record media review remediation cycle
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/traceability.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test: bind nested confirmation visual proof
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix: label interrupted uploads truthfully
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

test: bind truthful upload proof
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix: bind media upload and export selections
  api/repositories/media_library.py
  api/routes/media_library.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  react-app/src/__tests__/media-library-api.test.js
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/services/mediaLibrary.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

test: bind export remediation visuals
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix: enforce media visibility across related data
  api/repositories/media_library.py
  api/routes/media_library.py
  api/services/media_library_runtime.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_runtime.py
Due: none

fix: close media visibility and ready-state gaps
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_content_workspace_repository_media_relationships.py
Due: none

chore: reconcile remediated media surfaces
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix: enforce private mutation and dependency gates
  .github/workflows/security.yml
  api/repositories/media_library.py
  api/services/media_library_runtime.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_runtime.py
  scripts/config/complete-gate-v1.json
  scripts/tests/test_ci_policy.py
  scripts/tests/test_complete_gate.py
Due: npx prettier --write

chore: reconcile security gate surface
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix: bound uploads and enforce media ownership
  api/repositories/content_workspace.py
  api/repositories/media_library.py
  api/routes/content_workspace.py
  api/routes/media_library.py
  api/security/upload_capacity.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_repository_media_relationships.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  api/tests/test_upload_capacity.py
  scripts/config/complete-gate-v1.json
Due: npx prettier --write

fix: time-bound upload body admission
  api/routes/content_workspace.py
  api/routes/media_library.py
  api/security/upload_capacity.py
  api/tests/test_upload_capacity.py
Due: none

fix: preflight media completion grants
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/routes/media_library.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_repository_media_relationships.py
  api/tests/test_media_library_routes.py
Due: none

fix: throttle media completion attempts
  api/security/rate_limit.py
  api/tests/test_upload_capacity.py
Due: none

fix: isolate hostile media inspection
  api/Dockerfile.media-inspector
  api/services/media_inspector_client.py
  api/services/media_inspector_receipt.py
  api/services/media_inspector_runner.py
  api/services/media_inspector_service.py
  api/services/media_library_runtime.py
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
Due: npx prettier --write

test: gate isolated media inspection
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix: close exact gate type findings
  api/routes/media_library.py
  api/services/media_inspector_runner.py
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

test(media): cover isolated inspector runtime
  api/tests/test_media_inspector_isolation.py
Due: none

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
