Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "cd react-app && npx eslint --fix",
    "cd react-app && npx prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

Add debug artifact for Django RID probe
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Capture context logs for RID probe
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Make request-id probe deterministic (django+celery)
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Fix request-id probe: include stderr in docker logs
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

T095: add /metrics endpoint and test harness check
  api/main.py
  api/metrics.py
  api/routes/metrics.py
  api/tests/test_auth_proxy.py
  api/tests/test_metrics.py
  api/tests/test_oauth_proxy.py
  api/tests/test_password_reset_proxy.py
  api/tests/test_profile_update.py
  api/tests/test_rate_limit.py
  api/tests/test_smoke.py
  digital_ocean/scripts/powershell/test.ps1
Due: none

T096 auth surface alias; mark T094/T095 done
  api/routes/auth.py
  docs/STACK.md
  react-app/src/services/api.js
  react-app/src/services/auth.js
  specs/001-django-fastapi-react/contracts/openapi.yaml
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Phase14: FastAPI auth DB + JWT refresh endpoints
  api/auth/__init__.py
  api/auth/passwords.py
  api/auth/repo.py
  api/auth/service.py
  api/auth/tokens.py
  api/main.py
  api/migrations/runner.py
  api/migrations/sql/001_create_auth_tables.sql
  api/routes/auth.py
  api/tests/test_auth_tokens.py
  react-app/src/contexts/AuthContext.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

Phase14: mark T096-T100 complete; audit logout
  api/routes/auth.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

T101 email outbox + celery task
  api/migrations/runner.py
  api/migrations/sql/002_create_email_outbox.sql
  api/services/email_service.py
  api/tasks.py
  api/tasks/email_tasks.py
  api/tests/conftest.py
  api/tests/test_email_outbox.py
  docs/STACK.md
  local.docker.yml
Due: npx prettier --write

Mark T101 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14: FastAPI verify email + password reset
  api/auth/repo.py
  api/auth/service.py
  api/routes/auth.py
  api/tests/test_email_verify_and_password_reset.py
Due: none

Phase 14: audit + forgot-password email limiter
  api/routes/auth.py
  api/security/rate_limit.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14: Google ID-token login (Option A)
  api/auth/repo.py
  api/requirements.txt
  api/routes/auth.py
  api/services/oauth_google.py
  api/settings.py
  api/tests/test_oauth_google_option_a.py
  react-app/src/contexts/AuthContext.js
  react-app/src/pages/Home.js
  react-app/src/pages/Login.jsx
  react-app/src/services/api.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

Phase 14: Auth rate limits + Retry-After
  api/routes/auth.py
  api/security/rate_limit.py
  api/tests/test_auth_rate_limits.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14: Mark T106 complete + document auth limits
  docs/SECURITY.md
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14: Refresh cookie mode + non-cookie fallback
  api/routes/auth.py
  api/tests/test_refresh_cookie_mode.py
Due: none

Phase 14: Mark T107 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14: Audit events for verify/reset
  api/auth/service.py
  api/routes/auth.py
  api/tests/test_email_verify_and_password_reset.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14 T109: align React auth client with /api/auth
  react-app/src/App.js
  react-app/src/__tests__/auth.test.js
  react-app/src/__tests__/oauth.test.js
  react-app/src/__tests__/password-reset.test.js
  react-app/src/__tests__/settings.test.js
  react-app/src/__tests__/verify-email.test.js
  react-app/src/components/Navigation.js
  react-app/src/contexts/AuthContext.js
  react-app/src/hooks/useAuth.js
  react-app/src/lib/apiClient.js
  react-app/src/pages/OAuthCallback.jsx
  react-app/src/pages/Settings.jsx
  react-app/src/pages/Users.js
  react-app/src/services/api.js
  react-app/src/services/users.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

Phase 14 T110: decommission Django auth surface
  api/clients/django_client.py
  api/main.py
  api/routes/_proxy.py
  api/routes/auth.py
  api/routes/oauth.py
  api/routes/users.py
  api/tests/test_auth_proxy.py
  api/tests/test_oauth_proxy.py
  api/tests/test_password_reset_proxy.py
  api/tests/test_profile_update.py
  api/tests/test_rate_limit.py
  digital_ocean/scripts/powershell/test.ps1
  django/project/urls.py
  django/tests/test_audit_events.py
  django/tests/test_auth_api.py
  django/tests/test_email_verification.py
  django/tests/test_no_auth_routes.py
  django/tests/test_oauth_google.py
  django/tests/test_password_reset.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Phase 14 T110: remove legacy contract paths; harden auth env parsing
  api/routes/auth.py
  specs/001-django-fastapi-react/contracts/openapi.yaml
Due: npx prettier --write

Debug: surface auth register/login ValueError in non-prod
  api/routes/auth.py
Due: none

Fix: use bcrypt_sha256 to avoid 72-byte password limit
  api/auth/passwords.py
Due: none

Fix: preserve HTTPException headers; use pbkdf2 hashing
  api/auth/passwords.py
  api/middleware/errors.py
  api/requirements.txt
Due: none

Fix: don't require celery artifacts unless enabled
  digital_ocean/scripts/powershell/test.ps1
Due: none

Chore: remove auth debug ValueError details
  api/routes/auth.py
Due: none

DX: add Makefile shortcuts
  Makefile
  README.md
Due: npx prettier --write

Config: expand env example and validate production
  .env.example
  api/settings.py
  docs/CONFIG.md
Due: npx prettier --write

DX: add FastAPI seed script
  .env.example
  README.md
  api/scripts/__init__.py
  api/scripts/seed.py
Due: npx prettier --write

Frontend: unify API errors + form UX
  react-app/src/App.js
  react-app/src/components/ToastProvider.jsx
  react-app/src/contexts/AuthContext.js
  react-app/src/lib/apiErrors.js
  react-app/src/pages/ForgotPassword.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/ResetPassword.js
  react-app/src/pages/Settings.jsx
  react-app/src/pages/Signup.jsx
  react-app/src/pages/VerifyEmail.js
  react-app/src/services/api.js
  react-app/src/services/auth.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

Complete T114-T127 polish/security/observability + flags
  .github/workflows/security.yml
  README.md
  api/auth/repo.py
  api/auth/service.py
  api/flags.py
  api/main.py
  api/migrations/runner.py
  api/migrations/sql/003_add_refresh_token_last_seen.sql
  api/migrations/sql/004_add_user_lockout_fields.sql
  api/otel.py
  api/requirements.txt
  api/routes/auth.py
  api/routes/users.py
  docs/CONFIG.md
  docs/OBSERVABILITY.md
  docs/SECURITY.md
  react-app/package.json
  react-app/src/App.js
  react-app/src/__tests__/settings.test.js
  react-app/src/components/ProtectedRoute.jsx
  react-app/src/flags.js
  react-app/src/pages/ForgotPassword.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/ResetPassword.js
  react-app/src/pages/Settings.jsx
  react-app/src/pages/Signup.jsx
  react-app/src/pages/VerifyEmail.js
  react-app/src/services/api.js
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Make local lint/pytest runnable without docker
  api/tests/test_email_outbox.py
  api/tests/test_process_model.py
  react-app/src/App.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

Add Playwright e2e harness and CI
  .github/workflows/ci-e2e.yml
  api/main.py
  api/routes/test_support.py
  e2e/docker-compose.e2e.yml
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  e2e/tests/auth.spec.js
  package.json
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Harden deploy smoke tests and add rollback hook
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/smoke-tests.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Complete remaining tasks: decommission Django auth, add Windows scripts, env validation
  .env.example
  README.md
  api/settings.py
  django/project/settings/base.py
  django/project/urls.py
  django/tests/test_no_auth_routes.py
  django/users/urls.py
  docs/CONFIG.md
  docs/STACK.md
  scripts/fmt.ps1
  scripts/lint.ps1
  scripts/logs.ps1
  scripts/migrate.ps1
  scripts/reset.ps1
  scripts/restart.ps1
  scripts/seed.ps1
  scripts/start.ps1
  scripts/stop.ps1
  scripts/test.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Deploy: show progress during remote verification
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

T129: add swagger.<domain> router + probes
  .env.example
  api/main.py
  api/settings.py
  digital_ocean/scripts/powershell/test.ps1
  docs/DEPLOY.md
  specs/001-django-fastapi-react/tasks.md
  traefik/dynamic.yml
Due: npx prettier --write

T129: write swagger-host-check artifact reliably
  digital_ocean/scripts/powershell/test.ps1
Due: none

deploy: add timeout + heartbeat for local React tests
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

deploy: fix PS5 compatibility for local cmd timeout
  digital_ocean/scripts/powershell/deploy.ps1
Due: none
