Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "node react-app/node_modules/eslint/bin/eslint.js --fix",
    "node react-app/node_modules/prettier/bin/prettier.cjs --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

test(data): align migration readiness schema
  scripts/tests/test_data_readiness.py
Due: none

test: approve three-locale visual baselines
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-tablet-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-final-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-middle-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-tablet-linux.png
Due: none

test: require operations visual inventory
  scripts/tests/test_visual_assurance_manifest.py
Due: none

docs: record production readiness gate closure
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/local-closeout-review.md
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

fix: isolate production worker authorities
  .env.example
  development.docker.yml
  digital_ocean/scripts/python/render_live_canary_env.py
  django/sitecontent/migrations/0028_worker_runtime_least_privilege.py
  django/sitecontent/migrations/0029_tenant_lifecycle_state.py
  django/tests/test_runtime_governance_migrations.py
  e2e/docker-compose.e2e.yml
  local.docker.yml
  postgres/bootstrap-workspace-role.sh
  react-app/src/__tests__/settings.test.js
  react-app/src/pages/SettingsCenter.jsx
  scripts/bash/start.sh
  scripts/config/surface-drift-v1.json
  scripts/powershell/setup.ps1
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/setup.js
  scripts/tests/setup.inputs.test.js
  scripts/tests/test_operations_visual_evidence.py
  scripts/tests/test_service_health_contract.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: close candidate gate findings
  api/tests/test_transactional_email.py
  scripts/config/surface-drift-v1.json
  scripts/tests/test_data_readiness.py
  shared/config/migration-compatibility-v1.json
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix(feature-106): repair exact-head gate failures
  api/services/pinned_s3_client.py
  api/tests/test_pinned_s3_client.py
  react-app/e2e/account/settings-platform.spec.ts
  scripts/config/surface-drift-v1.json
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test(feature-106): restore changed-line assurance
  api/tests/test_operations_runtime.py
  api/tests/test_operations_tasks.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test: stabilize exact-head readiness evidence
  api/tests/test_auth_rate_limits.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test: bind visual evidence to normalized receipt
  specs/106-production-readiness-program/operations-visual-review.json
Due: npx prettier --write

feat: close production readiness review gaps
  .env.example
  api/db.py
  api/main.py
  api/repositories/data_rights.py
  api/services/data_rights_worker.py
  api/tests/security/test_tenant_boundary_matrix.py
  api/tests/test_data_rights_repository.py
  api/tests/test_data_rights_worker.py
  api/tests/test_openapi_and_misc.py
  development.docker.yml
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/render_live_canary_env.py
  digital_ocean/systemd/base2-ephemeral-expiry-scan.service
  digital_ocean/systemd/base2-ephemeral-expiry-scan.timer
  digital_ocean/tests/test_render_live_canary_env.py
  django/project/settings/base.py
  django/sitecontent/migrations/0031_data_rights_worker_scope.py
  django/tests/test_production_database_tls.py
  react-app/e2e/operations/operations-release.spec.ts
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-chromium-compact-linux.png
  react-app/e2e/operations/visual-receipt-reporter.mjs
  react-app/src/__tests__/glass-sidebar.test.tsx
  react-app/src/components/glass/GlassSidebar.tsx
  scripts/config/surface-drift-v1.json
  scripts/python/ephemeral_expiry.py
  scripts/python/operations_visual_evidence.py
  scripts/python/production_backup.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/python/validate_edge_security.py
  scripts/tests/test_edge_security_policy.py
  scripts/tests/test_ephemeral_expiry.py
  scripts/tests/test_production_backup.py
  scripts/tests/test_service_health_contract.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/operations-visual-runner.json
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
  traefik/dynamic.yml
Due: npx prettier --write

test: stabilize production readiness evidence
  api/tests/security/test_tenant_boundary_matrix.py
  react-app/e2e/operations/operations-release.spec.ts
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-cancel-confirmation-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-chromium-compact-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-firefox-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-webkit-desktop-linux.png
  react-app/src/__tests__/glass-sidebar.test.tsx
  react-app/src/components/glass/GlassSidebar.tsx
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/operations-visual-runner.json
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: close production readiness review gaps
  api/repositories/data_rights.py
  api/services/data_rights_worker.py
  api/tests/test_data_rights_repository.py
  api/tests/test_data_rights_worker.py
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/systemd/base2-ephemeral-expiry-scan.service
  digital_ocean/tests/test_deploy_config.py
  django/sitecontent/migrations/0031_data_rights_worker_scope.py
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/__tests__/glass-sidebar.test.tsx
  react-app/src/components/glass/GlassSidebar.tsx
  react-app/src/pages/ContentWorkspace.jsx
  scripts/python/ephemeral_expiry.py
  scripts/python/production_backup.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_ephemeral_expiry.py
  scripts/tests/test_production_backup.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: resolve frontend audit advisory
  react-app/package-lock.json
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test: stabilize mobile visual evidence
  react-app/e2e/visual/obsidian-restoration.spec.ts
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test(feature-106): refresh integrated release evidence
  django/sitecontent/migrations/0032_api_runtime_least_privilege.py
  scripts/config/surface-drift-v1.json
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: close feature 106 release review gaps
  api/repositories/identity_admin.py
  api/routes/identity.py
  api/services/email_service.py
  api/tests/test_identity_admin_repository.py
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/scripts/python/scan_artifact_secrets.py
  digital_ocean/systemd/base2-ephemeral-expiry-alert.service
  digital_ocean/systemd/base2-ephemeral-expiry-scan.service
  digital_ocean/tests/test_artifact_secret_scan.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_full_preview_systemd.py
  django/sitecontent/migrations/0031_data_rights_worker_scope.py
  django/sitecontent/migrations/0032_api_runtime_least_privilege.py
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/pages/ContentWorkspace.jsx
  scripts/config/surface-drift-v1.json
  scripts/python/ephemeral_expiry.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_ephemeral_expiry.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: exercise feature 106 trust policy
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/scripts/python/trusted_ssh.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_trusted_ssh.py
  scripts/tests/test_service_health_contract.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test: close feature 106 gate gaps
  digital_ocean/tests/test_artifact_secret_scan.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: close feature 106 release blockers
  api/scripts/migrate.py
  api/services/email_service.py
  digital_ocean/scripts/bash/remote_verify_min.sh
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/tests/test_deploy_config.py
  django/sitecontent/migrations/0032_api_runtime_least_privilege.py
  scripts/bash/migrate.sh
  scripts/powershell/migrate.ps1
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/python/run_workspace_role_migration_checks.py
  scripts/tests/test_migration_entrypoints.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: isolate migration cli arguments
  api/scripts/migrate.py
  api/tests/test_migrate_cli.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

test: cover migration safety paths
  api/tests/test_migrate_cli.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: close feature 106 production review findings
  development.docker.yml
  digital_ocean/config/letsencrypt-staging-roots.pem
  digital_ocean/scripts/bash/remote_verify_min.sh
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/deployment_mode.py
  digital_ocean/scripts/python/sanitize_traefik_config.py
  digital_ocean/scripts/python/staging_tls_probe.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_deployment_mode.py
  digital_ocean/tests/test_fresh_target_rollback.py
  digital_ocean/tests/test_sanitize_traefik_config.py
  digital_ocean/tests/test_staging_tls_probe.py
  docs/DEPLOY.md
  local.docker.yml
  quickstart.md
  react-app/e2e/account/settings-platform.spec.ts
  react-app/e2e/account/settings-platform.spec.ts-snapshots/settings-notification-preferences-unavailable-desktop-linux.png
  react-app/e2e/account/settings-platform.spec.ts-snapshots/settings-privacy-history-unavailable-desktop-linux.png
  react-app/e2e/account/settings-platform.spec.ts-snapshots/settings-security-activity-unavailable-desktop-linux.png
  react-app/src/__tests__/settings.test.js
  react-app/src/pages/SettingsCenter.jsx
  scripts/bash/migrate.sh
  scripts/config/surface-drift-v1.json
  scripts/powershell/migrate.ps1
  scripts/python/validate_surface_drift.py
  scripts/tests/test_migration_entrypoints.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
  traefik/entrypoint.sh
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: cover feature 106 release safety branches
  digital_ocean/tests/test_deployment_mode.py
  digital_ocean/tests/test_staging_tls_probe.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: harden production deployment assurance
  api/requirements.in
  api/requirements.txt
  api/settings.py
  api/tests/test_settings_validation.py
  development.docker.yml
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/droplet_lookup.py
  digital_ocean/scripts/python/validate_deployment_evidence.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_droplet_lookup.py
  digital_ocean/tests/test_fresh_target_rollback.py
  digital_ocean/tests/test_validate_deployment_evidence.py
  docs/DEPLOY.md
  local.docker.yml
  react-app/src/__tests__/settings.test.js
  react-app/src/pages/SettingsCenter.jsx
  scripts/config/surface-drift-v1.json
  scripts/python/run_digitalocean_coverage.py
  scripts/tests/test_complete_gate.py
  scripts/tests/test_migration_entrypoints.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(feature-106): close independent review gaps
  api/db.py
  api/settings.py
  api/tests/security/test_tenant_boundary_matrix.py
  api/tests/test_settings_validation.py
  digital_ocean/scripts/bash/digital_ocean_base.sh
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/powershell/test.ps1
  digital_ocean/scripts/python/deploy_config.py
  digital_ocean/scripts/python/droplet_lookup.py
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/scripts/python/validate_deployment_evidence.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_droplet_lookup.py
  digital_ocean/tests/test_validate_deployment_evidence.py
  docs/DEPLOY.md
  react-app/src/__tests__/settings.test.js
  react-app/src/contracts/security-actions.json
  react-app/src/pages/SettingsCenter.jsx
  scripts/config/surface-drift-v1.json
  scripts/tests/test_security_action_contract.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(feature-106): cover provider boundary
  digital_ocean/tests/test_droplet_lookup.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix(feature-106): stabilize utility rail semantics
  react-app/e2e/visual/obsidian-restoration.spec.ts
  react-app/src/components/home/HomeObsidianNavigation.jsx
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(feature-106): align canonical utility option
  react-app/src/__tests__/home/home-obsidian-navigation.test.jsx
  specs/106-production-readiness-program/analysis.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(feature-106): make utility selection atomic
  react-app/src/components/home/HomeObsidianNavigation.jsx
  specs/106-production-readiness-program/analysis.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: prove public utility and lease behavior
  digital_ocean/tests/test_provider_lease.py
  react-app/src/__tests__/__home/home-page.test.jsx
  react-app/src/components/home/HomeObsidianOps.jsx
  react-app/src/components/home/HomeThermalSecurity.jsx
  specs/106-production-readiness-program/analysis.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(production): resolve feature 106 review findings
  api/settings.py
  api/tests/test_settings_validation.py
  digital_ocean/scripts/powershell/deploy.ps1
  digital_ocean/scripts/python/deploy_config.py
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/scripts/python/provider_lease.py
  digital_ocean/scripts/python/provider_ready.py
  digital_ocean/scripts/python/validate_deployment_evidence.py
  digital_ocean/tests/test_deploy_config.py
  digital_ocean/tests/test_provider_lease.py
  digital_ocean/tests/test_provider_ready.py
  digital_ocean/tests/test_validate_deployment_evidence.py
  docs/DEPLOY.md
  react-app/e2e/visual/obsidian-localization.spec.ts
  react-app/e2e/visual/obsidian-localization.spec.ts-snapshots/obsidian-share-status-ar-arabic-rtl-touch-linux.png
  react-app/e2e/visual/obsidian-localization.spec.ts-snapshots/obsidian-share-status-de-german-reflow-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts
  react-app/src/__tests__/__home/home-page.test.jsx
  react-app/src/__tests__/home/home-obsidian-navigation.test.jsx
  react-app/src/components/home/HomeObsidianNavigation.jsx
  react-app/src/pages/Home.js
  react-app/src/styles/home.css
  scripts/bash/install-python-deps.sh
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/powershell/install-python-deps.ps1
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write
