Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: enforce frontend lockfile synchronization
  react-app/package-lock.json
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/tests/test_complete_gate.py
Due: npx prettier --write

docs: record feature 105 remediation cycles
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
Due: npx prettier --write

docs: bind feature 105 complete gate evidence
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
Due: npx prettier --write

ci: move checkout workflows to node 24 runtime
  .github/workflows/ci-backend.yml
  .github/workflows/ci-chaos.yml
  .github/workflows/ci-contract.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-load.yml
  .github/workflows/ci-perf-smoke.yml
  .github/workflows/ci-repo-guards.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/option1-guard.yml
  .github/workflows/security.yml
  .github/workflows/sync-config.yml
  specs/105-universal-media-library/analysis.md
Due: npx prettier --write

fix(media): close runtime and interaction review gaps
  .env.example
  api/services/media_library_runtime.py
  api/tests/test_media_inspector_isolation.py
  api/tests/test_media_library_runtime.py
  development.docker.yml
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
  django/sitecontent/migrations/0017_media_worker_rls_completion.py
  local.docker.yml
  modules/media/module.json
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-compact-chromium-compact-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-compact-chromium-compact-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-rtl-chromium-rtl-linux.png
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/components/media/MediaPicker.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/styles/media-library.css
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/validate_compose_config.py
  scripts/tests/test_media_library_manifest.py
  scripts/tests/test_media_library_migration.py
  scripts/tests/test_media_visual_review.py
  scripts/tests/test_workspace_postgres_contract.py
  shared/schemas/media-visual-review-v1.schema.json
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/visual-review.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(media): bind expanded visual review evidence
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

test(media): expand ordered remediation plan gate
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

ci: remove anonymous registry rate-limit dependency
  .github/workflows/ci-backend.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-smoke.yml
  .github/workflows/security.yml
  e2e/docker-compose.e2e.yml
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
Due: npx prettier --write

fix(media): close final concurrency and review gaps
  .github/workflows/ci-backend.yml
  api/repositories/media_library.py
  api/services/content_workspace_worker.py
  api/services/media_inspector_client.py
  api/services/media_library_runtime.py
  api/tasks.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  api/tests/test_media_inspector_isolation.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  api/tests/test_media_library_runtime.py
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-picker-chromium-rtl-chromium-rtl-linux.png
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/__tests__/media-picker.test.jsx
  react-app/src/components/media/MediaPicker.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/styles/media-library.css
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/tests/run_media_critical_repeats.sh
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(media): rebind final visual review evidence
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix(media): bound delivery and governance races
  .github/workflows/security.yml
  api/Dockerfile.media-inspector
  api/entrypoint.sh
  api/repositories/media_library.py
  api/requirements-media-inspector.txt
  api/routes/content_workspace.py
  api/routes/media_library.py
  api/security/rate_limit.py
  api/security/upload_capacity.py
  api/services/content_workspace_worker.py
  api/services/media_library_runtime.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_jobs_contract.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  api/tests/test_media_inspector_isolation.py
  api/tests/test_media_library_repository.py
  api/tests/test_media_library_routes.py
  api/tests/test_media_library_runtime.py
  api/tests/test_upload_capacity.py
  development.docker.yml
  local.docker.yml
  scripts/python/run_media_postgres_checks.py
  scripts/python/validate_ci_policy.py
  scripts/tests/run_media_critical_repeats.sh
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

chore: reconcile reviewed route surface
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix(media): harden inspector supply chain and runtime
  .github/workflows/security.yml
  api/Dockerfile.media-inspector
  api/config/freshclam.conf
  api/requirements-media-inspector.txt
  api/scripts/clamav_updater_health.sh
  api/services/media_inspector_client.py
  api/services/media_inspector_service.py
  api/services/media_library_parser.py
  api/tests/clamav_updater_container_acceptance.sh
  api/tests/media_inspector_container_acceptance.py
  api/tests/test_media_inspector_isolation.py
  api/tests/test_media_library_runtime.py
  development.docker.yml
  local.docker.yml
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): align updater isolation contract
  api/tests/test_content_workspace_scanner_runtime.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

fix(media): secure and recover inspector spool
  .github/workflows/security.yml
  api/Dockerfile.media-inspector
  api/scripts/media_inspector_spool_init.py
  api/services/media_inspector_client.py
  api/services/media_inspector_service.py
  api/tests/media_inspector_container_acceptance.py
  api/tests/media_inspector_two_uid_container_acceptance.sh
  api/tests/media_inspector_two_uid_producer.py
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

fix(media): bound stale spool recovery
  api/services/media_inspector_service.py
  api/tests/media_inspector_two_uid_container_acceptance.sh
  api/tests/media_inspector_two_uid_producer.py
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): stabilize hostile spool proof
  .github/workflows/security.yml
  api/tests/media_inspector_two_uid_producer.py
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): serialize inspector fixture teardown
  api/tests/media_inspector_two_uid_container_acceptance.sh
  api/tests/media_inspector_two_uid_producer.py
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): bound updater acceptance lifecycle
  api/scripts/clamav_updater_health.sh
  api/tests/clamav_updater_container_acceptance.sh
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): align updater memory contract
  api/tests/test_content_workspace_scanner_runtime.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

test(media): isolate historical inspector acceptance
  .github/workflows/security.yml
  api/Dockerfile.media-inspector
  api/tests/media_inspector_acceptance_entrypoint.py
  api/tests/media_inspector_container_acceptance.py
  api/tests/media_inspector_two_uid_container_acceptance.sh
  api/tests/media_inspector_two_uid_producer.py
  api/tests/test_media_inspector_isolation.py
  scripts/tests/test_ci_policy.py
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

fix(media): stabilize acceptance and focus gates
  api/tests/media_inspector_acceptance_entrypoint.py
  api/tests/media_inspector_container_acceptance.py
  api/tests/media_inspector_two_uid_producer.py
  react-app/src/pages/MediaLibrary.jsx
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(media): single-own destructive transitions
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(media): bind reviewed visual evidence
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix(media): contain pending confirmation focus
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-desktop-chromium-desktop-linux.png
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(media): bind pending-state visual proof
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

test(media): align local and hosted API lint
  api/tests/media_inspector_acceptance_entrypoint.py
  api/tests/media_inspector_container_acceptance.py
  api/tests/media_inspector_two_uid_producer.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
Due: npx prettier --write

docs(media): record exact-head assurance
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
Due: npx prettier --write

fix(deploy): bound large preview source transfers
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(api): keep upload iteration target compatible
  api/security/upload_capacity.py
Due: none

fix(deploy): canonicalize inspector image identity
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(deploy): resolve built inspector reference
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(preview): preserve terminal bootstrap diagnostics
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(media): rely on Docker private PID default
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
Due: npx prettier --write

fix(media): accept signed ClamAV CLD updates
  api/scripts/clamav_updater_health.sh
  api/tests/clamav_updater_container_acceptance.sh
  api/tests/test_media_inspector_isolation.py
Due: none

fix(media): budget cold ClamAV validation memory
  api/tests/clamav_updater_container_acceptance.sh
  api/tests/test_content_workspace_scanner_runtime.py
  api/tests/test_media_inspector_isolation.py
  development.docker.yml
  local.docker.yml
  scripts/tests/test_ci_policy.py
Due: npx prettier --write

fix(preview): admit media spool initializer
  api/tests/media_inspector_two_uid_producer.py
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(media): prove live upload schema path
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository_media_relationships.py
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

fix(preview): serialize cold ClamAV warmup
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(media): admit low-cost preview scan resources
  api/services/media_inspector_client.py
  api/services/media_inspector_service.py
  api/tasks.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_media_inspector_isolation.py
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
