Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(backlog): defer first-party monitoring feature
  specs/002-react-design/tasks.md
Due: npx prettier --write

docs: plan universal content workspace
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/contracts/content-api.md
  specs/104-universal-content-data-workspace/data-model.md
  specs/104-universal-content-data-workspace/plan.md
  specs/104-universal-content-data-workspace/quickstart.md
  specs/104-universal-content-data-workspace/research.md
  specs/104-universal-content-data-workspace/spec.md
  specs/104-universal-content-data-workspace/tasks.md
  specs/104-universal-content-data-workspace/test_validate_plan.py
  specs/104-universal-content-data-workspace/traceability.md
  specs/104-universal-content-data-workspace/validate_plan.py
Due: npx prettier --write

feat: add canonical content workspace models
  django/common/models.py
  django/sitecontent/admin.py
  django/sitecontent/migrations/0002_workspaceauditevent_contentrecordversion_and_more.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  django/tests/test_site_content_models.py
Due: none

feat: add secure content workspace API foundation
  api/main.py
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/security/content_workspace.py
  api/tests/test_content_workspace_contract.py
  api/tests/test_content_workspace_cursor.py
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_repository.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/plan.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat: package universal content workspace
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/services/content_workspace_media.py
  api/services/content_workspace_transfer.py
  api/services/content_workspace_worker.py
  api/site_profiles/base2-obsidian.json
  api/site_profiles/index.json
  api/tasks.py
  api/tests/test_content_migrations.py
  api/tests/test_content_workspace_contract.py
  api/tests/test_content_workspace_media.py
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_content_workspace_transfer.py
  api/tests/test_content_workspace_worker.py
  django/site_profiles/base2-obsidian.json
  django/site_profiles/index.json
  modules/content-workspace/module.json
  modules/content-workspace/presets.json
  modules/content-workspace/settings.schema.json
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/components/Navigation.js
  react-app/src/components/glass/GlassButton.tsx
  react-app/src/config/generated/base2-obsidian.json
  react-app/src/config/generated/index.json
  react-app/src/pages/ContentWorkspace.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/contentWorkspace.js
  scripts/tests/test_content_workspace_manifest.py
  shared/config/module-catalog.json
  site_profiles/base2-obsidian.json
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: harden content workspace tenant contracts
  api/middleware/errors.py
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/security/identity.py
  api/tests/test_content_workspace_contract.py
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_repository.py
  django/sitecontent/migrations/0003_workspace_row_security.py
  react-app/src/components/Navigation.js
  react-app/src/routes/PublicRoutes.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

feat: complete workspace resource contracts
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_jobs_contract.py
  api/tests/test_content_workspace_records_contract.py
  django/sitecontent/migrations/0004_contentrelationship_maximum_depth_and_more.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
Due: none

feat: expand content workspace queries and generated experience
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/site_profiles/content-workspace-presets.json
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_repository.py
  django/site_profiles/content-workspace-presets.json
  django/sitecontent/models.py
  react-app/src/__tests__/content-workspace-api.test.js
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/config/generated/content-workspace-presets.json
  react-app/src/pages/ContentWorkspace.jsx
  react-app/src/services/contentWorkspace.js
  scripts/python/content_workspace_presets.py
  scripts/python/generate_site_profiles.py
  scripts/tests/test_base2_obsidian_profile.py
  scripts/tests/test_content_workspace_preset_compiler.py
  shared/config/content-workspace-presets.generated.json
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: harden workspace jobs and media admission
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/security/identity.py
  api/services/content_workspace_media.py
  api/services/content_workspace_transfer.py
  api/services/content_workspace_worker.py
  api/tests/contract/test_identity_security_contract.py
  api/tests/test_content_workspace_media.py
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_transfer.py
  django/sitecontent/migrations/0005_contentrecord_schedule_timezone.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  modules/content-workspace/module.json
Due: npx prettier --write

feat: add workspace draft flow and items migration
  api/main.py
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_public_endpoints_minimal.py
  docs/content-workspace-items-migration.md
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/pages/ContentWorkspace.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: add workspace search and saved views
  django/tests/test_site_content_models.py
  react-app/src/__tests__/content-workspace-api.test.js
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/pages/ContentWorkspace.jsx
  react-app/src/services/contentWorkspace.js
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: add durable workspace search indexing
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat: add private workspace artifact store
  api/services/content_workspace_storage.py
  api/tests/test_content_workspace_storage.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat: complete workspace media upload admission
  .env.example
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/services/content_workspace_storage.py
  api/settings.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_content_workspace_storage.py
  api/tests/test_settings_validation.py
  digital_ocean/scripts/python/render_live_canary_env.py
  digital_ocean/tests/test_render_live_canary_env.py
  scripts/powershell/setup.ps1
  scripts/setup.js
  scripts/tests/setup.inputs.test.js
  scripts/tests/setup.ps1.test.js
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

build: persist private workspace artifacts
  api/Dockerfile
  development.docker.yml
  local.docker.yml
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat: add secure workspace import source handoff
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/tests/test_content_workspace_jobs_contract.py
  api/tests/test_content_workspace_repository.py
  django/sitecontent/migrations/0006_importjob_source_artifact.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add fail-closed media scanning
  .coveragerc
  .env.example
  api/services/content_workspace_scanner.py
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_scanner.py
  api/tests/test_content_workspace_scanner_runtime.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  api/tests/test_coverage_runtime.py
  development.docker.yml
  django/sitecontent/migrations/0007_mediaasset_rejected_status.py
  django/sitecontent/models.py
  local.docker.yml
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): require safe media derivatives
  api/requirements.in
  api/requirements.txt
  api/services/content_workspace_derivative.py
  api/services/content_workspace_media.py
  api/services/content_workspace_worker.py
  api/tests/test_content_workspace_derivative.py
  api/tests/test_content_workspace_media.py
  api/tests/test_content_workspace_worker.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add private media delivery
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/tests/test_content_workspace_assets_relationships_contract.py
  api/tests/test_content_workspace_repository.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): complete durable export delivery
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_jobs_contract.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  django/sitecontent/migrations/0008_exportjob_projection_fields.py
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(content): close export terminal states
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): stage durable import validation
  .coveragerc
  api/requirements.txt
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  api/tests/test_coverage_runtime.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): complete durable import workflow
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/services/content_workspace_worker.py
  api/tasks.py
  api/tests/test_content_workspace_jobs_contract.py
  api/tests/test_content_workspace_repository.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): harden canonical workspace invariants
  django/sitecontent/models.py
  django/tests/test_content_workspace_models.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(content): revalidate saved view schemas
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): prove workspace migration round trip
  django/tests/test_content_workspace_migrations.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add bounded workspace search
  api/repositories/content_workspace.py
  api/routes/content_workspace.py
  api/tests/test_content_workspace_records_contract.py
  api/tests/test_content_workspace_repository.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(content): converge concurrent job replays
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): complete workspace API client
  react-app/src/__tests__/content-workspace-api.test.js
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/pages/ContentWorkspace.jsx
  react-app/src/services/contentWorkspace.js
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(content): add secure workspace jobs
  react-app/src/__tests__/content-workspace-jobs.test.jsx
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/components/content/WorkspaceJobs.jsx
  react-app/src/pages/ContentWorkspace.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(content): add versioned record controls
  react-app/src/__tests__/content-workspace-record.test.jsx
  react-app/src/__tests__/content-workspace.test.jsx
  react-app/src/components/content/RecordInspector.jsx
  react-app/src/pages/ContentWorkspace.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(spec): validate corrective task lifecycle
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
  specs/104-universal-content-data-workspace/test_validate_plan.py
  specs/104-universal-content-data-workspace/validate_plan.py
Due: npx prettier --write

docs(spec): reconcile workspace implementation evidence
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add safe structured record controls
  react-app/package.json
  react-app/src/__tests__/content-workspace-structured-fields.test.jsx
  react-app/src/components/content/RecordInspector.jsx
  react-app/src/components/content/RecordStructuredFields.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(content): complete schema evolution journey
  api/repositories/content_workspace.py
  api/tests/test_content_workspace_repository.py
  react-app/src/__tests__/content-workspace-schema-builder.test.jsx
  react-app/src/components/content/SchemaBuilder.jsx
  react-app/src/pages/ContentWorkspace.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(generator): emit workspace profile contracts
  .prettierignore
  api/site_profiles/content-workspace-contracts.json
  django/site_profiles/content-workspace-contracts.json
  react-app/src/config/generated/content-workspace-contracts.json
  scripts/python/generate_site_profiles.py
  scripts/tests/test_content_workspace_profile_matrix.py
  shared/config/content-workspace-presets.generated.json
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add closed public field renderers
  react-app/src/__tests__/content-workspace-public-renderers.test.jsx
  react-app/src/components/content/PublicFieldRenderer.jsx
  react-app/src/pages/public/ContentCollectionPage.jsx
  react-app/src/pages/public/ContentPage.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(content): add bounded worker health evidence
  api/services/content_workspace_worker.py
  api/tests/test_content_workspace_worker.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): add isolated recovery assurance
  scripts/bash/content-workspace-recovery.sh
  scripts/powershell/content-workspace-recovery.ps1
  scripts/python/content_workspace_recovery.py
  scripts/tests/test_content_workspace_recovery.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

docs(content): bind workspace limits and recovery
  api/tests/test_content_workspace_limits.py
  docs/content-workspace-operations.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
