Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "node react-app/node_modules/eslint/bin/eslint.js --fix",
    "node react-app/node_modules/prettier/bin/prettier.cjs --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

fix(preview): bind DigitalOcean apex authoritatively
  digital_ocean/scripts/python/full_preview_dns.py
  digital_ocean/tests/test_full_preview_dns.py
  digital_ocean/tests/test_full_preview_live.py
Due: none

fix(preview): converge live browser routes
  digital_ocean/scripts/python/full_preview_dns.py
  digital_ocean/tests/test_full_preview_dns.py
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

fix(preview): allow bounded Google identity CSP
  scripts/tests/test_traefik_full_preview_contract.py
  traefik/dynamic-full-preview.yml
Due: npx prettier --write

test(preview): bind live evidence to exact target
  react-app/e2e/live/full-preview-live.spec.ts
  react-app/playwright.live-full-preview.config.mjs
  specs/094-base2-full-preview/analysis.md
  specs/094-base2-full-preview/tasks.md
  specs/094-base2-full-preview/traceability.md
Due: npx prettier --write

fix(preview): verify admin authentication journeys
  .env.example
  development.docker.yml
  digital_ocean/docs/full-preview-runbook.md
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/scripts/python/render_full_preview_env.py
  digital_ocean/tests/test_full_preview_entrypoints.py
  digital_ocean/tests/test_render_full_preview_env.py
  django/project/settings/production.py
  react-app/e2e/live/full-preview-live.spec.ts
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix(preview): verify admin authentication journeys (#12)
  .env.example
  development.docker.yml
  digital_ocean/docs/full-preview-runbook.md
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/scripts/python/render_full_preview_env.py
  digital_ocean/tests/test_full_preview_entrypoints.py
  digital_ocean/tests/test_render_full_preview_env.py
  django/project/settings/production.py
  react-app/e2e/live/full-preview-live.spec.ts
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

fix(preview): preserve admin form origin
  digital_ocean/tests/test_full_preview_policy.py
  traefik/dynamic-full-preview.yml
Due: npx prettier --write

fix(preview): preserve admin form origin (#13)
  digital_ocean/tests/test_full_preview_policy.py
  traefik/dynamic-full-preview.yml
Due: npx prettier --write

fix(preview): prevent pgadmin session OOM
  development.docker.yml
  digital_ocean/tests/test_full_preview_policy.py
Due: npx prettier --write

fix(preview): prevent pgadmin session OOM (#14)
  development.docker.yml
  digital_ocean/tests/test_full_preview_policy.py
Due: npx prettier --write

feat: restore full obsidian design on current platform
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-tablet-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts
  react-app/src/__tests__/home/home-obsidian-navigation.test.jsx
  react-app/src/components/home/HomeFeatures.jsx
  react-app/src/components/home/HomeFooter.jsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/home/HomeObsidianNavigation.jsx
  react-app/src/components/home/HomeObsidianOps.jsx
  react-app/src/components/home/HomeThermalSecurity.jsx
  react-app/src/components/portfolio/About.jsx
  react-app/src/components/portfolio/ContactForm.jsx
  react-app/src/components/portfolio/ProjectsGrid.jsx
  react-app/src/styles/home.css
  react-app/src/styles/obsidian-full.css
  react-app/vite.config.mjs
  scripts/tests/test_public_experience_checkpoint.py
  specs/095-obsidian-design-restoration/analysis.md
  specs/095-obsidian-design-restoration/plan.md
  specs/095-obsidian-design-restoration/spec.md
  specs/095-obsidian-design-restoration/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: retain semantic token bridge in restored design
  react-app/src/styles/home.css
Due: none

fix: make restored section movement deterministic
  react-app/src/components/home/HomeObsidianNavigation.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

test: cover restored obsidian interaction model
  react-app/src/__tests__/home/home-obsidian-navigation.test.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

docs: record obsidian restoration gate evidence
  specs/095-obsidian-design-restoration/analysis.md
  specs/095-obsidian-design-restoration/tasks.md
Due: npx prettier --write

fix: disable gunicorn control socket on read-only root
  django/entrypoint.sh
  scripts/tests/test_django_read_only_runtime.py
Due: none

fix: reject fixture identities in live previews
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

test: require usable live visual evidence
  react-app/e2e/live/full-preview-live.spec.ts
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts
  react-app/playwright.live-full-preview.config.mjs
  react-app/src/styles/home.css
Due: none

feat: add deterministic preview visual assurance
  digital_ocean/scripts/bash/base2-preview.sh
  digital_ocean/scripts/python/preview_control.py
  digital_ocean/scripts/python/preview_dns_convergence.py
  digital_ocean/scripts/python/preview_expiry.py
  digital_ocean/scripts/python/preview_inventory.py
  digital_ocean/scripts/python/preview_provider_inventory.py
  digital_ocean/scripts/python/preview_retention.py
  digital_ocean/scripts/python/preview_runtime.py
  digital_ocean/scripts/python/preview_visual_evidence.py
  digital_ocean/tests/test_preview_control_plane.py
  react-app/e2e/visual/obsidian-restoration.spec.ts
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-footer-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-footer-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-right-utility-menu-mobile-linux.png
  react-app/e2e/visual/responsive-release.spec.ts
  react-app/package.json
  react-app/playwright.visual-release.config.mjs
  react-app/src/styles/home.css
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/visual_asset_policy.py
  specs/095-obsidian-design-restoration/analysis.md
  specs/095-obsidian-design-restoration/tasks.md
  specs/096-preview-visual-assurance/analysis.md
  specs/096-preview-visual-assurance/contracts/cli.md
  specs/096-preview-visual-assurance/data-model.md
  specs/096-preview-visual-assurance/plan.md
  specs/096-preview-visual-assurance/quickstart.md
  specs/096-preview-visual-assurance/research.md
  specs/096-preview-visual-assurance/spec.md
  specs/096-preview-visual-assurance/tasks.md
  specs/096-preview-visual-assurance/traceability.md
Due: npx prettier --write

fix: normalize preview expiry calendar
  digital_ocean/scripts/python/preview_expiry.py
  digital_ocean/tests/test_preview_control_plane.py
Due: none

fix: persist preview expiry units
  digital_ocean/scripts/python/preview_control.py
  digital_ocean/scripts/python/preview_expiry.py
  digital_ocean/tests/test_preview_control_plane.py
Due: none

docs: close feature 096 live acceptance
  specs/096-preview-visual-assurance/analysis.md
  specs/096-preview-visual-assurance/tasks.md
Due: npx prettier --write

test(preview): harden exact-origin edge authentication
  digital_ocean/docs/full-preview-runbook.md
  react-app/e2e/live/full-preview-live.spec.ts
  react-app/e2e/live/owner-edge-auth.mjs
  react-app/e2e/live/owner-edge-auth.test.mjs
  react-app/package.json
Due: npx prettier --write

test(local): bind fixtures to selected site profile
  api/tests/test_openapi_and_misc.py
  api/tests/test_site_content_service.py
  local.docker.yml
Due: npx prettier --write

test: isolate preview teardown cleanup
  digital_ocean/tests/test_preview_control_plane.py
Due: none

feat: add visual assurance manifest
  scripts/python/visual_assurance_manifest.py
  scripts/tests/test_visual_assurance_manifest.py
Due: none

docs: publish visual assurance manifest
  docs/generated/visual-assurance-manifest.md
Due: npx prettier --write

fix: gate live performance smoke explicitly
  .github/workflows/ci-perf-smoke.yml
  scripts/python/perf_target_policy.py
  scripts/python/test_perf_target_policy.py
Due: npx prettier --write

test: satisfy API lint contract
  api/tests/test_data_rights_worker.py
  api/tests/test_settings_contract.py
Due: none

test: recover bounded JSON encoder faults
  scripts/python/run_complete_gate.py
  scripts/tests/test_complete_gate.py
  specs/103-unified-settings-platform/analysis.md
  specs/103-unified-settings-platform/tasks.md
Due: npx prettier --write

docs: record feature 103 publication evidence
  specs/103-unified-settings-platform/analysis.md
  specs/103-unified-settings-platform/tasks.md
Due: npx prettier --write

fix(security): keep Flower broker secret out of argv
  development.docker.yml
  scripts/tests/test_service_health_contract.py
  specs/103-unified-settings-platform/analysis.md
Due: npx prettier --write

fix(settings): bind live requests to site tenant
  react-app/e2e/live/full-preview-live.spec.ts
  react-app/src/__tests__/api-client-tenant.test.js
  react-app/src/lib/apiClient.js
  scripts/config/surface-drift-v1.json
  specs/103-unified-settings-platform/analysis.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(deploy): require API migrations before preview
  api/scripts/migrate.py
  api/tests/test_migrate_cli.py
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
  react-app/e2e/live/full-preview-live.spec.ts
  specs/103-unified-settings-platform/analysis.md
Due: npx prettier --write

fix(api): repair tenant-scoped privacy workflows
  api/repositories/data_rights.py
  api/repositories/scheduling.py
  api/repositories/site_content.py
  api/tests/test_data_rights_repository.py
  api/tests/test_scheduling_repository.py
  api/tests/test_site_content_service.py
  react-app/e2e/live/full-preview-live.spec.ts
  specs/103-unified-settings-platform/analysis.md
Due: npx prettier --write

fix(worker): bind privacy workflow secrets
  development.docker.yml
  e2e/docker-compose.e2e.yml
  local.docker.yml
  scripts/tests/test_service_health_contract.py
  specs/103-unified-settings-platform/analysis.md
Due: npx prettier --write

docs(feature-103): record live acceptance closeout
  react-app/e2e/live/full-preview-live.spec.ts
  specs/103-unified-settings-platform/analysis.md
  specs/103-unified-settings-platform/quickstart.md
  specs/103-unified-settings-platform/tasks.md
  specs/103-unified-settings-platform/traceability.md
Due: npx prettier --write
