Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(tasks): add cookie + blur fallback tests; update plan/research/quickstart/spec
  specs/002-react-design/plan.md
  specs/002-react-design/quickstart.md
  specs/002-react-design/research.md
  specs/002-react-design/spec.md
  specs/002-react-design/tasks.md
Due: npx prettier --write

fix(api): mount contract for runtime OpenAPI test
  api/tests/test_auth_tokens.py
  digital_ocean/scripts/powershell/deploy.ps1
  local.docker.yml
Due: npx prettier --write

test(api): auth flow works with TestClient by disabling cookie-mode
  api/tests/test_auth_tokens.py
Due: none

test(react): reach 100% coverage for glass components
  react-app/src/__tests__/glass-button.extra.test.tsx
  react-app/src/__tests__/glass-card.extra.test.tsx
  react-app/src/__tests__/glass-header.extra.test.tsx
  react-app/src/__tests__/glass-modal.extra.test.tsx
  react-app/src/__tests__/glass-skeleton.extra.test.tsx
  react-app/src/__tests__/glass-spinner.extra.test.tsx
  react-app/src/__tests__/glass-tabs.extra.test.tsx
Due: none

feat(react): apply glass styling to Home and set black page background
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

chore(deploy): force-recreate react-app; test(e2e): verify Home page black backdrop
  digital_ocean/scripts/powershell/deploy.ps1
  react-app/e2e/home-style.spec.ts
Due: none

test(e2e): target Home wrapper via data-testid; feat(Home): add data-testid to wrapper
  react-app/e2e/home-style.spec.ts
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

chore(deploy): no-cache rebuild react-app before force-recreate to avoid stale bundle
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

fix(react): unblock docker build by allowing legacy peer deps in npm ci
  react-app/.Dockerfile
Due: none

chore: commit current workspace changes
  react-app/e2e/home-style.spec.ts
  react-app/src/__tests__/theme-toggle.extra.test.tsx
Due: none

chore(deploy): add ENOSPC safeguard for react-app build
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

feat(home): glass styling for Home + black backdrop
  react-app/src/__tests__/glass-header.extra.test.tsx
  react-app/src/__tests__/home/home-page.test.jsx
  react-app/src/__tests__/pages-glass.test.jsx
  react-app/src/assets/decorative-glass.svg
  react-app/src/assets/hero.svg
  react-app/src/assets/logo.svg
  react-app/src/assets/mesh-dark.svg
  react-app/src/assets/mesh-light.svg
  react-app/src/components/glass/GlassHeader.tsx
  react-app/src/components/home/HomeFeatures.jsx
  react-app/src/components/home/HomeFooter.jsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/home/HomeTrust.jsx
  react-app/src/components/home/HomeVisual.jsx
  react-app/src/pages/Home.js
  react-app/src/stories/home/HomePage.stories.jsx
  specs/002-react-design/data-model.md
  specs/002-react-design/plan.md
  specs/002-react-design/research.md
  specs/002-react-design/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

ci: relax perf-smoke; docs: tasks parallel examples
  .github/workflows/ci-perf-smoke.yml
  specs/002-react-design/tasks.md
Due: npx prettier --write

ci(frontend,security): use Node 18 and relax non-critical failures
  .github/workflows/ci-frontend.yml
  .github/workflows/security.yml
Due: npx prettier --write

ci(frontend): stabilize npm ci and build (memory + legacy peer deps)
  .github/workflows/ci-frontend.yml
Due: npx prettier --write

ci(frontend): tolerate lint/build failures (continue-on-error)
  .github/workflows/ci-frontend.yml
Due: npx prettier --write

ci(security): make npm-audit/pip-audit non-blocking (|| true)
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): relax npm installs (legacy-peer-deps + || true)
  .github/workflows/ci-frontend.yml
  .github/workflows/security.yml
Due: npx prettier --write

ci(perf-smoke): run on push; add warmup
  .github/workflows/ci-perf-smoke.yml
  scripts/perf_smoke.py
Due: npx prettier --write

perf(smoke): disable TLS verify via flag and add HTTP fallback
  .github/workflows/ci-perf-smoke.yml
  scripts/perf_smoke.py
Due: npx prettier --write

feat(react): scaffold Tailwind + Framer Motion setup (T001T006)
  react-app/package.json
  react-app/postcss.config.js
  react-app/src/index.css
  react-app/src/index.js
  react-app/src/styles/tokens.css
  react-app/tailwind.config.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(react): portfolio sections (about, projects, contact)
  react-app/public/index.html
  react-app/src/components/glass/GlassHeader.tsx
  react-app/src/components/glass/ThemeToggle.tsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/portfolio/About.jsx
  react-app/src/components/portfolio/ContactForm.jsx
  react-app/src/components/portfolio/ProjectCard.jsx
  react-app/src/components/portfolio/ProjectsGrid.jsx
  react-app/src/index.css
  react-app/src/lib/motion.js
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

chore(specs): align tasks.md paths to current components
  specs/003-react-glass-portfolio/tasks.md
Due: npx prettier --write

chore(specs): mark completed tasks; chore(env): set DO_APP_BRANCH=main for UpdateOnly deploy
  specs/003-react-glass-portfolio/tasks.md
Due: npx prettier --write

test: suppress React Router v7 future warnings in tests only
  react-app/src/setupTests.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

docs(test): document router v7 warnings policy; add TestRouter helper for tests
  docs/TESTING.md
  react-app/src/test/TestRouter.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs: update deploy flags and config
  docs/CONFIG.md
  docs/DEPLOY.md
Due: npx prettier --write

feat(react): add ThemeContext, SectionContainer, a11y focus-glow, tokens, and perf hints
  react-app/README.md
  react-app/public/index.html
  react-app/src/App.js
  react-app/src/components/SectionContainer.jsx
  react-app/src/contexts/ThemeContext.js
  react-app/src/index.css
  react-app/tailwind.config.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(react-glass): mark T007, T011, T015, T036T040 completed
  specs/003-react-glass-portfolio/tasks.md
Due: npx prettier --write

chore(specs): add Phase 9 design integration tasks and docs pointers
  docs/DEVELOPMENT.md
  react-app/package-lock.json
  react-app/package.json
  specs/002-react-design/plan.md
  specs/002-react-design/quickstart.md
  specs/002-react-design/tasks.design-integration.md
  specs/002-react-design/tasks.md
Due: npx prettier --write

ci(frontend): fix job condition to use env instead of secrets in if
  .github/workflows/ci-frontend.yml
Due: npx prettier --write

feat(react): finalize Phase 9; ImageWithFallback + modal parity mapping
  react-app/src/__tests__/common/image-fallback.test.tsx
  react-app/src/components/common/ImageWithFallback.tsx
  react-app/src/stories/glass/ModalDesignParity.stories.tsx
  specs/002-react-design/plan.md
  specs/002-react-design/tasks.md
Due: npx prettier --write

docs(tasks): mark Phase 9 home tasks completed; normalize duplicates
  specs/002-react-design/tasks.md
Due: npx prettier --write

chore(deploy): speed up remote verify and progress
  digital_ocean/scripts/powershell/deploy.ps1
  local.docker.yml
  react-app/.Dockerfile
Due: npx prettier --write

fix(traefik): default to production LE
  traefik/dynamic.yml
  traefik/entrypoint.sh
  traefik/traefik.yml
Due: npx prettier --write

chore(deploy): improve remote verify progress logs
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

fix(react-app): unblock pre-commit lint
  react-app/package-lock.json
  react-app/package.json
  react-app/src/App.css
  react-app/src/__tests__/__glass-sidebar-drawer.test.tsx
  react-app/src/__tests__/__home/home-a11y.test.jsx
  react-app/src/__tests__/__home/home-page.test.jsx
  react-app/src/__tests__/app-shell.test.tsx
  react-app/src/__tests__/glass-button.test.tsx
  react-app/src/__tests__/glass-card.extra.test.tsx
  react-app/src/__tests__/glass-card.test.tsx
  react-app/src/__tests__/glass-header.extra.test.tsx
  react-app/src/__tests__/glass-header.test.tsx
  react-app/src/__tests__/glass-sidebar.public.test.tsx
  react-app/src/__tests__/home/home-page.test.jsx
  react-app/src/__tests__/pages-glass.test.jsx
  react-app/src/components/Navigation.js
  react-app/src/components/glass/GlassButton.tsx
  react-app/src/components/glass/GlassCard.tsx
  react-app/src/components/glass/GlassHeader.tsx
  react-app/src/components/glass/GlassInput.tsx
  react-app/src/components/glass/GlassSidebar.tsx
  react-app/src/components/home/HomeFeatures.jsx
  react-app/src/components/home/HomeFooter.jsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/home/HomeTrust.jsx
  react-app/src/components/home/HomeVisual.jsx
  react-app/src/index.css
  react-app/src/index.js
  react-app/src/pages/Home.js
  react-app/src/setupTests.js
  react-app/src/styles/idea-vite.css
  react-app/src/test/TestMemoryRouter.tsx
  specs/002-react-design/tasks.md
  traefik/dynamic.yml
  traefik/entrypoint.sh
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(react): apply glass UI across auth and app pages
  react-app/src/components/Navigation.js
  react-app/src/components/glass/AppShell.tsx
  react-app/src/pages/Dashboard.jsx
  react-app/src/pages/ForgotPassword.js
  react-app/src/pages/Items.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/OAuthCallback.jsx
  react-app/src/pages/ResetPassword.js
  react-app/src/pages/Settings.jsx
  react-app/src/pages/Signup.jsx
  react-app/src/pages/UserSettings.js
  react-app/src/pages/Users.js
  react-app/src/pages/VerifyEmail.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
