Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: bound preview media scanner CPU admission
  api/services/media_inspector_service.py
  api/tests/test_media_inspector_isolation.py
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

test: isolate live media console phases
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

docs: define production readiness program
  specs/106-production-readiness-program/README.md
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/plan.md
  specs/106-production-readiness-program/spec.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/traceability.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

feat: add production readiness contracts
  docs/PRODUCTION_READINESS_PROGRAM.md
  scripts/config/complete-gate-v1.json
  scripts/python/production_readiness.py
  scripts/tests/test_production_readiness_contract.py
  shared/config/production-readiness-v1.json
  shared/docs/current_state.md
  shared/schemas/production-readiness-v1.schema.json
  shared/schemas/release-bundle-v2.schema.json
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

feat: add native operations domain
  api/services/operations_center.py
  api/tests/test_operations_center_contract.py
  django/common/models.py
  django/sitecontent/migrations/0018_production_operations_center.py
  django/sitecontent/migrations/0019_operations_center_rls.py
  django/sitecontent/models.py
  django/tests/test_operations_domain_models.py
  scripts/python/production_readiness.py
Due: none

feat: connect native operations center
  api/main.py
  api/repositories/operations.py
  api/routes/operations.py
  api/security/identity.py
  api/services/operations_center.py
  api/tests/contract/test_operations_api_contract.py
  api/tests/test_operations_center_contract.py
  react-app/src/__tests__/operations-center.test.jsx
  react-app/src/components/Navigation.js
  react-app/src/pages/OperationsCenter.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/operations.js
  scripts/config/complete-gate-v1.json
  shared/config/operations-probes-v1.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: enforce visual and immutable release assurance
  django/sitecontent/migrations/0019_operations_center_rls.py
  django/sitecontent/models.py
  react-app/e2e/operations/operations-release.spec.ts
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-compact-chromium-compact-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-landscape-touch-chromium-landscape-touch-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-light-chromium-light-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-tablet-chromium-tablet-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-ultrawide-chromium-ultrawide-linux.png
  react-app/package.json
  react-app/playwright.operations-release.config.mjs
  react-app/src/pages/OperationsCenter.jsx
  scripts/config/complete-gate-v1.json
  scripts/python/operations_visual_evidence.py
  scripts/python/production_readiness.py
  scripts/python/production_release.py
  scripts/tests/test_operations_visual_evidence.py
  scripts/tests/test_production_readiness_contract.py
  scripts/tests/test_production_release.py
  specs/106-production-readiness-program/operations-visual-review.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: close operations coverage and surface drift
  api/tests/test_operations_repository.py
  react-app/src/__tests__/operations-center.test.jsx
  react-app/src/__tests__/operations-service.test.js
  scripts/config/surface-drift-v1.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: enforce operations database role isolation
  django/sitecontent/migrations/0019_operations_center_rls.py
  django/tests/test_operations_domain_models.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_workspace_postgres_contract.py
Due: none

feat: add observed sanitized alert delivery
  api/services/operations_center.py
  api/tests/test_operations_center_contract.py
Due: none

feat: bound operations collection and retention
  api/repositories/operations.py
  api/services/operations_center.py
  api/tests/test_operations_center_contract.py
  api/tests/test_operations_repository.py
  scripts/config/surface-drift-v1.json
  shared/config/operations-probes-v1.json
Due: npx prettier --write

test: prove bounded operations fault handling
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/tests/test_operations_fault_matrix.py
Due: npx prettier --write

chore: reconcile production gate surface lock
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

docs: close native operations train
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: authenticate release approvals and feature flags
  api/flags.py
  api/tests/test_typed_feature_flags.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/production_release.py
  scripts/tests/test_production_release.py
Due: npx prettier --write

feat: enforce database durability contracts
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/data_readiness.py
  scripts/python/recovery_assurance.py
  scripts/tests/test_data_readiness.py
  scripts/tests/test_recovery_assurance.py
  shared/config/data-readiness-v1.json
Due: npx prettier --write

feat: expose database recovery health signals
  api/services/operations_center.py
  api/tests/test_operations_center_contract.py
  scripts/config/surface-drift-v1.json
  scripts/tests/test_operations_fault_matrix.py
  shared/config/operations-probes-v1.json
Due: npx prettier --write

feat: add domain and edge readiness controls
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/edge_readiness.py
  scripts/tests/test_edge_readiness.py
  shared/config/edge-readiness-v1.json
Due: npx prettier --write

feat: harden secrets jobs and schedules
  api/services/production_workflows.py
  api/tests/test_production_workflows.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  shared/config/production-workflows-v1.json
Due: npx prettier --write

feat: add tenant lifecycle and quota controls
  api/services/tenant_lifecycle.py
  api/tests/test_tenant_lifecycle.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

feat: add universal product safety contracts
  api/services/universal_product.py
  api/tests/test_universal_product.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

feat: add extension and production assurance contracts
  api/services/extension_platform.py
  api/tests/test_extension_platform.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/production_assurance.py
  scripts/tests/test_production_assurance.py
  shared/config/production-assurance-v1.json
Due: npx prettier --write

fix: run readiness contracts in managed runtime
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

docs: record production readiness implementation evidence
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

fix: close extension input integrity gaps
  api/services/extension_platform.py
  api/services/universal_product.py
  api/tests/test_extension_platform.py
  api/tests/test_universal_product.py
  specs/106-production-readiness-program/analysis.md
Due: npx prettier --write

docs: prepare production activation closeout
  docs/PRODUCTION_ACTIVATION_RUNBOOK.md
  specs/106-production-readiness-program/local-closeout-review.md
  specs/106-production-readiness-program/validate_plan.py
Due: npx prettier --write

fix: address production readiness review findings
  api/repositories/operations.py
  api/routes/operations.py
  api/services/extension_platform.py
  api/services/operations_center.py
  api/services/tenant_lifecycle.py
  api/services/universal_product.py
  api/tests/contract/test_operations_api_contract.py
  api/tests/test_extension_platform.py
  api/tests/test_operations_center_contract.py
  api/tests/test_operations_repository.py
  api/tests/test_tenant_lifecycle.py
  api/tests/test_universal_product.py
  scripts/python/production_assurance.py
  scripts/python/production_release.py
  scripts/tests/test_operations_fault_matrix.py
  scripts/tests/test_production_assurance.py
  scripts/tests/test_production_release.py
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/local-closeout-review.md
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: connect production operations center
  api/repositories/operations.py
  api/routes/operations.py
  api/tests/contract/test_operations_api_contract.py
  api/tests/test_operations_repository.py
  react-app/e2e/operations/operations-release.spec.ts
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-compact-chromium-compact-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-desktop-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-landscape-touch-chromium-landscape-touch-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-light-chromium-light-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-tablet-chromium-tablet-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-ultrawide-chromium-ultrawide-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-empty-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-error-chromium-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-firefox-desktop-firefox-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-webkit-desktop-webkit-desktop-linux.png
  react-app/playwright.operations-release.config.mjs
  react-app/src/__tests__/operations-center.test.jsx
  react-app/src/__tests__/operations-service.test.js
  react-app/src/components/Navigation.js
  react-app/src/pages/OperationsCenter.jsx
  react-app/src/services/operations.js
  specs/106-production-readiness-program/analysis.md
  specs/106-production-readiness-program/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: persist atomic tenant quota reservations
  api/repositories/tenant_quota.py
  api/routes/tenant.py
  api/tests/contract/test_tenant_quota_api_contract.py
  api/tests/test_tenant_quota_repository.py
  django/sitecontent/migrations/0020_tenant_quota_persistence.py
  django/sitecontent/migrations/0021_quota_rls_and_operations_worker_scope.py
  django/sitecontent/models.py
  django/tests/test_tenant_quota_models.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_workspace_postgres_contract.py
Due: none

feat: connect durable operations monitoring
  api/repositories/operations.py
  api/services/operations_runtime.py
  api/tasks.py
  api/tests/test_operations_repository.py
  api/tests/test_operations_runtime.py
  api/tests/test_operations_tasks.py
  scripts/python/operations_visual_evidence.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_operations_visual_evidence.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: connect immutable release execution
  scripts/bash/release.sh
  scripts/python/production_release.py
  scripts/python/production_release_cli.py
  scripts/python/run_local_release_acceptance.py
  scripts/tests/test_local_release_acceptance_contract.py
  scripts/tests/test_production_release.py
  scripts/tests/test_production_release_cli.py
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: prove encrypted database recovery
  api/db.py
  api/settings.py
  api/tests/security/test_tenant_boundary_matrix.py
  api/tests/test_settings_validation.py
  django/sitecontent/migrations/0021_quota_rls_and_operations_worker_scope.py
  scripts/python/data_readiness.py
  scripts/python/recovery_assurance.py
  scripts/python/run_database_recovery_acceptance.py
  scripts/python/run_mixed_version_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/tests/test_data_readiness.py
  scripts/tests/test_database_recovery_acceptance_contract.py
  scripts/tests/test_recovery_assurance.py
  shared/config/migration-compatibility-v1.json
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: enforce tenant edge readiness
  api/services/operations_runtime.py
  django/sitecontent/migrations/0022_tenantdomainclaim.py
  django/sitecontent/migrations/0023_tenant_domain_rls.py
  django/sitecontent/models.py
  django/tests/test_tenant_domain_models.py
  scripts/python/edge_readiness.py
  scripts/python/validate_edge_security.py
  scripts/tests/test_edge_readiness.py
  scripts/tests/test_edge_security_policy.py
  shared/config/migration-compatibility-v1.json
  specs/106-production-readiness-program/tasks.md
  traefik/dynamic-canary.yml
  traefik/dynamic.yml
  traefik/traefik.yml
Due: npx prettier --write

feat: add durable runtime governance
  api/repositories/runtime_governance.py
  django/sitecontent/migrations/0024_breakglassgrant_durablejob_durableschedule_and_more.py
  django/sitecontent/migrations/0025_runtime_governance_rls.py
  django/sitecontent/models.py
  django/tests/test_runtime_governance_models.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/python/runtime_governance.py
  scripts/tests/test_runtime_governance.py
  scripts/tests/test_runtime_governance_repository_contract.py
  shared/config/credential-inventory-v1.json
  shared/config/migration-compatibility-v1.json
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

test: close tenant identity readiness
  django/sitecontent/migrations/0021_quota_rls_and_operations_worker_scope.py
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: complete tenant content platform
  api/services/object_storage.py
  api/services/universal_product.py
  api/tests/test_object_storage.py
  api/tests/test_universal_product.py
  shared/config/optional-search-v1.json
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: harden extensible site factory
  api/services/extension_platform.py
  api/tests/test_extension_platform.py
  modules/blog/module.json
  modules/booking/module.json
  modules/catalog/module.json
  modules/commerce/module.json
  modules/community/module.json
  modules/content-workspace/module.json
  modules/content/module.json
  modules/documentation/module.json
  modules/events/module.json
  modules/fixture-notes/module.json
  modules/forms/module.json
  modules/gallery/module.json
  modules/listing/module.json
  modules/marketplace/module.json
  modules/media/module.json
  modules/membership/module.json
  modules/portfolio/module.json
  modules/subscription/module.json
  modules/support/module.json
  react-app/src/styles/tokens.css
  scripts/python/module_lifecycle.py
  scripts/python/module_registry.py
  scripts/python/run_module_checkpoint.py
  scripts/python/sign_builtin_modules.py
  scripts/tests/test_archetype_catalog.py
  scripts/tests/test_module_lifecycle.py
  scripts/tests/test_module_registry.py
  shared/config/archetypes-v1.json
  shared/config/design-system-v1.json
  shared/schemas/design-system-v1.schema.json
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

feat: complete production assurance paths
  docs/production/governance-inventory.md
  scripts/bash/production-ready.sh
  scripts/powershell/production-ready.ps1
  scripts/python/production_assurance.py
  scripts/tests/guard-shell-parity.test.js
  specs/106-production-readiness-program/tasks.md
Due: npx prettier --write

test: extend semantic token coverage
  scripts/tests/test_visual_contract.py
Due: none

fix(assurance): close candidate gate failures
  api/db.py
  api/tests/test_object_storage.py
  api/tests/test_runtime_governance_repository.py
  scripts/config/surface-drift-v1.json
  specs/106-production-readiness-program/local-closeout-review.md
Due: npx prettier --write

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
