Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

style(django): organize imports in users/api_views.py
  django/users/api_views.py
Due: none

ci: fix frontend Chromatic condition; add Celery to backend integration; update gitignore
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  .gitignore
Due: npx prettier --write

ci(security): fail only on critical SBOM; relax npm audit and license checks
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): do not fail build on SBOM scan; still report criticals
  .github/workflows/security.yml
Due: npx prettier --write

build(api): add ca-certificates and refresh CA store
  api/.Dockerfile
Due: none

style(django): organize imports in common/models.py (ruff I001)
  django/common/models.py
Due: none

ci(security): fix license-checker flags (use onlyAllow whitelist)
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): use npm install --omit=dev for react-app audit to avoid lock mismatch
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): relax python license allowlist (normalize names) and report without failing
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): replace deprecated semgrep-action with Semgrep CLI + SARIF (non-blocking)
  .github/workflows/security.yml
Due: npx prettier --write

chore(django): add migrations for catalog Item.updated and users index renames/address fields
  django/catalog/migrations/0002_alter_item_options_item_updated.py
  django/users/migrations/0005_rename_users_token_active_idx_users_apito_user_id_84f205_idx_and_more.py
Due: none

ci(security): exclude private packages from license checks to avoid UNLICENSED false failures
  .github/workflows/security.yml
Due: npx prettier --write

ci(security): fix python-licenses inline script indentation and robustness (informational)
  .github/workflows/security.yml
Due: npx prettier --write

fix(api): stabilize tenant rate limit window; chore: ignore root .coverage artifact
  .coverage
  .gitignore
  api/security/tenant_limits.py
Due: none

fix(api): scope tenant rate-limit key by window_ms to avoid stale TTL/cross-test collisions
  api/security/tenant_limits.py
Due: none

chore(gitignore): ignore django/.coverage and stop tracking coverage artifacts
  django/.coverage
Due: none

ci(frontend): fix Chromatic step condition using env to avoid invalid 'secrets' in if
  .github/workflows/ci-frontend.yml
Due: npx prettier --write

ci(frontend): use Node 20 and align Storybook 8.6; regenerate lockfile to fix npm ci
  .github/workflows/ci-frontend.yml
  react-app/package-lock.json
  react-app/package.json
Due: npx prettier --write

ci(frontend): add yaml devDep to satisfy tool peer; refresh lockfile
  react-app/package-lock.json
  react-app/package.json
Due: npx prettier --write

build(frontend): patch react-dev-utils to use fs.constants.F_OK and remove Node deprecation
  react-app/package.json
  react-app/patches/react-dev-utils+12.0.1.patch
Due: npx prettier --write

build(frontend): update lockfile after yaml + patch-package changes
  react-app/package-lock.json
Due: npx prettier --write

test(frontend): use waitFor in App.test to settle suspense
  .github/workflows/security.yml
  react-app/package.json
  react-app/scripts/postinstall.js
  react-app/src/__tests__/App.test.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(frontend): prefix unused args in ErrorBoundary to satisfy ESLint
  react-app/src/components/ErrorBoundary.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

ci(e2e): Node 20; wait longer for health | build(react): npm ci + Node 20
  .github/workflows/ci-e2e.yml
  e2e/docker-compose.e2e.yml
  react-app/.Dockerfile
Due: npx prettier --write

ci(e2e): add API healthcheck and gate react-app on api healthy
  e2e/docker-compose.e2e.yml
Due: npx prettier --write

build(react): copy postinstall and patches before npm ci in Dockerfile to fix e2e build
  react-app/.Dockerfile
Due: none

ci(e2e): upload targeted container logs on failure for faster triage
  .github/workflows/ci-e2e.yml
Due: npx prettier --write

chore: option1-only schema ownership
  .env.example
  .github/agents/speckit.clarify.agent.md
  .github/workflows/ci-backend.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/option1-guard.yml
  .specify/templates/plan-template.md
  README.md
  api/main.py
  api/scripts/seed.py
  api/tests/conftest.py
  api/tests/contract/test_openapi_runtime.py
  api/tests/test_metrics.py
  api/tests/test_openapi_and_misc.py
  api/tests/test_process_model.py
  api/tests/test_smoke.py
  digital_ocean/scripts/powershell/validate-predeploy.ps1
  django/api_schema/__init__.py
  django/api_schema/admin.py
  django/api_schema/apps.py
  django/api_schema/migrations/0001_api_auth_and_outbox_tables.py
  django/api_schema/migrations/__init__.py
  django/api_schema/models.py
  django/project/settings/base.py
  docs/CONFIG.md
  docs/STACK.md
  e2e/docker-compose.e2e.yml
  local.docker.yml
  project_overview.md
  quickstart.md
  scripts/chaos_smoke.sh
  scripts/contract_check.py
  shared/docs/current_state.md
  specs/001-django-fastapi-react/contracts/openapi.yaml
  specs/001-django-fastapi-react/plan.md
  specs/001-django-fastapi-react/tasks.md
  traefik/dynamic.yml
Due: npx prettier --write

fix: make deploy checks and migrations resilient
  digital_ocean/scripts/powershell/test.ps1
  django/users/migrations/0005_rename_users_token_active_idx_users_apito_user_id_84f205_idx_and_more.py
Due: none

fix: make api healthcheck curl-free
  local.docker.yml
Due: npx prettier --write

docs: mark t245 and t251 complete
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

fix: route admin subdomain root to /admin/
  django/users/migrations/0005_rename_users_token_active_idx_users_apito_user_id_84f205_idx_and_more.py
  traefik/dynamic.yml
Due: npx prettier --write

test: assert admin subdomain root not 404
  digital_ocean/scripts/powershell/test.ps1
Due: none

fix(ci): align tests with /api routing
  api/main.py
  api/pytest.ini
  api/tests/security/test_tenant_isolation.py
  api/tests/security/test_tenant_rate_limits.py
  api/tests/test_auth_rate_limits.py
  api/tests/test_auth_tokens.py
  api/tests/test_csrf_cookie_mode.py
  api/tests/test_email_verify_and_password_reset.py
  api/tests/test_oauth_google_option_a.py
  api/tests/test_public_endpoints_minimal.py
  api/tests/test_refresh_cookie_mode.py
  django/api_schema/admin.py
  django/common/models.py
  e2e/tests/auth.spec.js
Due: none

fix(ci): ruff import order + py312 target
  django/common/models.py
  django/project/logging.py
  django/pyproject.toml
Due: none

fix(ci): avoid datetime.UTC for mypy
  django/project/logging.py
  django/pyproject.toml
Due: none

fix(e2e): migrate DB before api starts
  e2e/docker-compose.e2e.yml
Due: npx prettier --write

chore: ignore coverage.xml
  .gitignore
Due: none

feat(002-react-design): add spec, plan, research, data-model, contracts, quickstart, tasks
  specs/002-react-design/checklists/requirements.md
  specs/002-react-design/contracts/openapi.yaml
  specs/002-react-design/data-model.md
  specs/002-react-design/plan.md
  specs/002-react-design/quickstart.md
  specs/002-react-design/research.md
  specs/002-react-design/spec.md
  specs/002-react-design/tasks.md
Due: npx prettier --write

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
