Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "cd react-app && npx eslint --fix",
    "cd react-app && npx prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

deploy: remove remaining PS7 operators
  digital_ocean/scripts/powershell/deploy.ps1
Due: none

Extend TLS guard for swagger/admin routers
  digital_ocean/scripts/powershell/test.ps1
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Add CSP/security-headers probe
  digital_ocean/scripts/powershell/test.ps1
  docs/SECURITY.md
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Require TOKEN_PEPPER in non-local
  api/auth/tokens.py
  api/tests/test_required_env_token_pepper.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Add JWT iss/aud validation
  .env.example
  api/auth/tokens.py
  api/settings.py
  api/tests/test_jwt_claims.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Harden refresh-cookie CSRF and origin checks
  api/routes/auth.py
  docs/SECURITY.md
  react-app/src/lib/apiClient.js
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Harden Django production password hashing
  api/tests/test_csrf_cookie_mode.py
  django/project/password_hashers.py
  django/project/settings/base.py
  django/tests/test_password_hashers.py
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Document admin Traefik gating policy
  docs/SECURITY.md
Due: npx prettier --write

Pin Python deps and tighten audit policies
  .github/workflows/security.yml
  api/requirements.in
  api/requirements.txt
  django/requirements.in
  django/requirements.txt
  docs/SECURITY.md
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Harden compose runtime settings
  docs/DEPLOY.md
  local.docker.yml
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

Allow Traefik NET_BIND_SERVICE under cap_drop
  local.docker.yml
Due: npx prettier --write

Fix compose hardening: keep infra writable
  local.docker.yml
Due: npx prettier --write

Fix Traefik + celery-beat under hardened FS
  local.docker.yml
  traefik/entrypoint.sh
  traefik/traefik.yml
Due: npx prettier --write

Harden Traefik perms; Redis/Celery security; log redaction
  .env.example
  .gitignore
  api/logging.py
  api/tests/test_celery_security.py
  digital_ocean/scripts/powershell/deploy.ps1
  django/project/logging.py
  django/project/settings/base.py
  docs/SECURITY.md
  local.docker.yml
  specs/001-django-fastapi-react/tasks.md
  traefik/entrypoint.sh
Due: npx prettier --write

Fix Traefik file provider path
  digital_ocean/scripts/powershell/deploy.ps1
  traefik/traefik.yml
Due: npx prettier --write

Fix Redis URL expansion and Traefik healthcheck
  local.docker.yml
  traefik/.Dockerfile
Due: npx prettier --write

another one
  api/tests/test_log_redaction.py
  traefik/.Dockerfile
Due: none

fix(deploy): ensure swagger DNS records
  .env.example
  digital_ocean/orchestrate_teardown.py
  digital_ocean/scripts/powershell/test.ps1
  digital_ocean/scripts/python/orchestrate_deploy.py
  digital_ocean/scripts/python/validate_dns.py
Due: none

fix(traefik): redirect swagger root to docs
  digital_ocean/scripts/powershell/test.ps1
  specs/001-django-fastapi-react/tasks.md
  traefik/dynamic.yml
Due: npx prettier --write

fix(swagger): redirect root + avoid OOM in check
  digital_ocean/scripts/powershell/test.ps1
  traefik/dynamic.yml
Due: npx prettier --write

fix(traefik): redirect swagger / to /docs
  traefik/dynamic.yml
Due: npx prettier --write

fix(traefik): swagger root redirect regex
  traefik/dynamic.yml
Due: npx prettier --write

chore(spec): mark swagger tasks done
  specs/001-django-fastapi-react/tasks.md
Due: npx prettier --write

fix(swagger): allow jsdelivr in CSP
  traefik/dynamic.yml
Due: npx prettier --write

fix(test): satisfy ESLint no-empty in Jest setup polyfill
  react-app/src/setupTests.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

test(react): load TextEncoder/TextDecoder polyfill before MSW server import
  react-app/src/setupTests.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

test(react): require MSW server after polyfills to satisfy TextEncoder in Jest
  react-app/src/setupTests.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write

chore(semgrep): quote pattern strings to fix YAML/Prettier parse error in pre-commit
  .eslintignore
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/ci-chaos.yml
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-load.yml
  .github/workflows/security.yml
  .semgrep.yml
  CHANGELOG.md
  api/main.py
  api/middleware/tenant.py
  api/routes/privacy.py
  api/routes/tenant.py
  api/security/tenant_limits.py
  api/tests/perf/test_query_perf.py
  api/tests/security/test_tenant_isolation.py
  api/tests/security/test_tenant_rate_limits.py
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/RELEASE.md
  docs/RUNBOOKS/access_reviews.md
  docs/RUNBOOKS/key_rotation.md
  docs/RUNBOOKS/privacy_ops.md
  docs/RUNBOOKS/secrets_management.md
  load/k6/smoke.js
  local.docker.yml
  react-app/.storybook/main.js
  react-app/.storybook/preview.js
  react-app/package.json
  react-app/src/__tests__/a11y.test.js
  react-app/src/__tests__/auth.test.js
  react-app/src/__tests__/password-reset.test.js
  react-app/src/setupTests.js
  react-app/src/stories/Dashboard.stories.jsx
  react-app/src/stories/Login.stories.jsx
  scripts/chaos_smoke.sh
  scripts/generate_client.sh
  scripts/slo_smoke.py
  specs/001-django-fastapi-react/tasks.md
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

chore(storybook): add CRA preset and @storybook/test; fix Storybook build
  react-app/.storybook/main.js
  react-app/package-lock.json
  react-app/package.json
Due: npx prettier --write

test: skip gunicorn on Windows; capture startup failure logs; register perf marker
  .coverage
  .github/workflows/ci-frontend.yml
  api/pytest.ini
  api/tests/contract/test_openapi_runtime.py
  api/tests/perf/test_query_perf.py
  api/tests/security/test_tenant_isolation.py
  api/tests/security/test_tenant_rate_limits.py
  api/tests/test_process_model.py
  api/tests/test_startup_failures_are_logged.py
  scripts/contract_check.py
Due: npx prettier --write

ci: fix frontend workflow secrets gating; semgrep SARIF generation via args
  .coverage
  .github/workflows/ci-frontend.yml
  .github/workflows/security.yml
Due: npx prettier --write

chore(ci): trigger Actions run
  .coverage
  api/auth/repo.py
  api/auth/service.py
  api/db.py
  api/main.py
  api/pyproject.toml
  api/requirements.txt
  api/routes/auth.py
  api/routes/privacy.py
  api/routes/test_support.py
  api/routes/users.py
  api/security/rate_limit.py
  api/security/tenant_limits.py
  api/services/email_service.py
  api/settings.py
  api/tasks.py
  api/tasks/email_tasks.py
  api/tests/conftest.py
  api/tests/perf/test_query_perf.py
  api/tests/security/test_tenant_isolation.py
  api/tests/security/test_tenant_rate_limits.py
  api/tests/test_auth_rate_limits.py
  api/tests/test_auth_tokens.py
  api/tests/test_celery_security.py
  api/tests/test_csrf_cookie_mode.py
  api/tests/test_email_verify_and_password_reset.py
  api/tests/test_error_mapping.py
  api/tests/test_jwt_claims.py
  api/tests/test_log_redaction.py
  api/tests/test_metrics.py
  api/tests/test_oauth_google_option_a.py
  api/tests/test_refresh_cookie_mode.py
  api/tests/test_required_env_token_pepper.py
  api/tests/test_settings_validation.py
  api/tests/test_smoke.py
  api/tests/test_startup_failures_are_logged.py
Due: none

tests(api): mark email outbox tests integration-only; exclude from unit CI
  .coverage
  api/tests/test_email_outbox.py
Due: none

ci(e2e): upload Playwright artifacts and compose logs on failure for better triage
  .github/workflows/ci-e2e.yml
  django/catalog/admin.py
  django/catalog/models.py
  django/catalog/urls.py
  django/catalog/views.py
  django/common/management/commands/schema_compat_check.py
  django/common/models.py
  django/manage.py
  django/project/create_superuser.py
  django/project/logging.py
  django/project/password_hashers.py
  django/project/settings/base.py
  django/project/wsgi.py
  django/tests/test_email_outbox.py
  django/users/admin.py
  django/users/api_urls.py
  django/users/api_views.py
  django/users/models.py
  django/users/tasks.py
  django/users/tokens.py
  django/users/urls.py
  django/users/views.py
Due: npx prettier --write

test(react): remove unnecessary act() wrappers; ErrorBoundary silences expected error logs
  .coverage
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  api/tests/test_email_outbox.py
  api/tests/test_openapi_and_misc.py
  api/tests/test_public_endpoints_minimal.py
  django/.coverage
  django/common/management/commands/schema_compat_check.py
  django/users/api_views.py
  react-app/src/App.js
  react-app/src/__tests__/App.test.js
  react-app/src/__tests__/a11y.test.js
  react-app/src/__tests__/auth.test.js
  react-app/src/__tests__/dashboard.test.js
  react-app/src/__tests__/error-boundary.test.js
  react-app/src/__tests__/oauth.test.js
  react-app/src/__tests__/password-reset.test.js
  react-app/src/__tests__/protected-route.test.js
  react-app/src/__tests__/settings.test.js
  react-app/src/__tests__/verify-email.test.js
Due: cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

ci: e2e compose worker; fix(api): DB pool connection handling
  api/db.py
  e2e/docker-compose.e2e.yml
Due: npx prettier --write

ci(security): refine Semgrep scope to reduce non-code false positives
  .semgrep.yml
  .semgrepignore
Due: npx prettier --write

chore: harden Dockerfiles and upgrade base OS packages
  api/.Dockerfile
  e2e/docker-compose.e2e.yml
  react-app/.Dockerfile
Due: npx prettier --write
