Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "node react-app/node_modules/eslint/bin/eslint.js --fix",
    "node react-app/node_modules/prettier/bin/prettier.cjs --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

fix: bind benchmark claims to measurements
  scripts/python/run_assurance_benchmark.py
  scripts/tests/test_assurance_benchmark.py
  specs/107-efficient-assurance-orchestrator/analysis.md
  specs/107-efficient-assurance-orchestrator/tasks.md
  specs/107-efficient-assurance-orchestrator/traceability.md
  specs/107-efficient-assurance-orchestrator/validate_plan.py
Due: npx prettier --write

docs: close feature 107 acceptance tasks
  specs/107-efficient-assurance-orchestrator/tasks.md
Due: npx prettier --write

fix: align gate evidence ordering
  scripts/python/assurance_orchestrator.py
  scripts/python/run_assurance_benchmark.py
  scripts/tests/test_assurance_orchestrator.py
  specs/107-efficient-assurance-orchestrator/analysis.md
  specs/107-efficient-assurance-orchestrator/tasks.md
  specs/107-efficient-assurance-orchestrator/traceability.md
  specs/107-efficient-assurance-orchestrator/validate_plan.py
Due: npx prettier --write

docs: keep external closeout pending
  specs/107-efficient-assurance-orchestrator/tasks.md
Due: npx prettier --write

fix(preview): generate API runtime database secret
  digital_ocean/scripts/python/render_live_canary_env.py
  digital_ocean/tests/test_render_live_canary_env.py
Due: none

fix(preview): wait for database role dependency
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(preview): use scoped API migration service
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(preview): bound expanded cold bootstrap
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(preview): right-size bounded full stack
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/scripts/python/preview_lease_v2.py
  digital_ocean/tests/test_full_preview_entrypoints.py
  digital_ocean/tests/test_preview_control_plane.py
  digital_ocean/tests/test_preview_lease_v2.py
Due: none

fix(preview): expose stages and parallelize cold build
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix(preview): preserve timeout stage evidence
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(preview): retain current timeout stage
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(preview): run django migrations as one-shot
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(preview): run api migrations as one-shot
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix(preview): retry direct health readiness
  digital_ocean/scripts/python/full_preview_live.py
Due: none

fix(preview): pass upstream ports to traefik
  development.docker.yml
  digital_ocean/tests/test_preview_upstream_ports.py
Due: npx prettier --write

fix(preview): align explicit port configuration allowlist
  digital_ocean/tests/test_deploy_config.py
  local.docker.yml
Due: npx prettier --write

docs: plan Obsidian experience and secure owner access
  specs/108-obsidian-owner-experience/analysis.md
  specs/108-obsidian-owner-experience/contracts/acceptance.md
  specs/108-obsidian-owner-experience/data-model.md
  specs/108-obsidian-owner-experience/plan.md
  specs/108-obsidian-owner-experience/quickstart.md
  specs/108-obsidian-owner-experience/research.md
  specs/108-obsidian-owner-experience/spec.md
  specs/108-obsidian-owner-experience/tasks.md
  specs/108-obsidian-owner-experience/traceability.md
  specs/108-obsidian-owner-experience/validate_plan.py
Due: npx prettier --write

fix: tolerate formatted planning traceability tables
  specs/108-obsidian-owner-experience/validate_plan.py
Due: none

feat: unify account experience and repair signup and settings
  api/repositories/settings.py
  api/scripts/ensure_owner.py
  api/tests/test_owner_provisioning.py
  api/tests/test_settings_repository.py
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/scripts/python/full_preview_remote.py
  react-app/e2e/experience/shared-experience.spec.ts
  react-app/playwright.experience.config.mjs
  react-app/src/App.css
  react-app/src/__tests__/api-errors-regression.test.js
  react-app/src/components/glass/AppShell.tsx
  react-app/src/components/glass/GlassButton.tsx
  react-app/src/components/glass/GlassCard.tsx
  react-app/src/components/glass/GlassInput.tsx
  react-app/src/components/public/PublicShell.jsx
  react-app/src/contexts/ThemeContext.js
  react-app/src/lib/apiErrors.js
  react-app/src/pages/Login.jsx
  react-app/src/pages/Signup.jsx
  react-app/src/services/siteContent.js
  react-app/src/services/theme/persistence.ts
  react-app/src/styles/experience.css
  scripts/config/surface-drift-v1.json
  scripts/python/check_settings_rls.py
  scripts/python/run_settings_rls.py
  specs/108-obsidian-owner-experience/implementation-status.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: enforce configured login providers and release browser checks
  digital_ocean/tests/test_full_preview_systemd.py
  react-app/e2e/experience/shared-experience.spec.ts
  react-app/playwright.experience.config.mjs
  react-app/src/App.js
  react-app/src/__tests__/oauth.test.js
  react-app/src/__tests__/pages-glass.test.jsx
  react-app/src/pages/Login.jsx
  react-app/src/services/googleAuthConfig.js
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/assurance_orchestrator.py
  scripts/tests/test_assurance_orchestrator.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(experience): isolate Obsidian styles and hermetic release fixture
  react-app/src/components/glass/AppShell.tsx
  react-app/src/styles/experience.css
  scripts/tests/test_assurance_orchestrator.py
  specs/108-obsidian-owner-experience/implementation-status.md
Due: npx prettier --write

fix(assurance): bind reviewed media captures to current source
  scripts/tests/test_media_visual_review.py
  specs/105-universal-media-library/visual-review.json
  specs/108-obsidian-owner-experience/repair-ledger.md
Due: npx prettier --write

test(media): stabilize pending-action capture across viewports
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-400-zoom-chromium-400-zoom-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-compact-chromium-compact-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-light-chromium-light-linux.png
  specs/108-obsidian-owner-experience/repair-ledger.md
Due: npx prettier --write

docs(media): bind stable reviewed capture source
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

fix(privacy): persist dispatch leases and configure export snapshots before RLS
  api/db.py
  api/repositories/data_rights.py
  api/services/data_rights_worker.py
  api/tests/test_data_rights_repository.py
  api/tests/test_data_rights_worker.py
  api/tests/test_snapshot_transaction_order.py
  scripts/python/run_workspace_postgres_checks.py
  specs/108-obsidian-owner-experience/implementation-status.md
  specs/108-obsidian-owner-experience/repair-ledger.md
  specs/108-obsidian-owner-experience/tasks.md
Due: npx prettier --write

fix(preview): bootstrap lifecycle before serving and mount worker catalog
  api/scripts/ensure_preview_lifecycle.py
  api/tests/test_preview_lifecycle_bootstrap.py
  development.docker.yml
  digital_ocean/docs/full-preview-runbook.md
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_entrypoints.py
  scripts/python/run_workspace_postgres_checks.py
  specs/108-obsidian-owner-experience/analysis.md
  specs/108-obsidian-owner-experience/repair-ledger.md
  specs/108-obsidian-owner-experience/tasks.md
Due: npx prettier --write

docs(assurance): retain intermittent migration failure and bound revalidation
  specs/108-obsidian-owner-experience/repair-ledger.md
Due: npx prettier --write

docs(assurance): stop release after repeated library-level instability
  specs/108-obsidian-owner-experience/repair-ledger.md
Due: npx prettier --write

test(assurance): isolate failed settings imports and guard migration registries
  api/tests/test_settings_validation.py
  django/tests/test_migration_registry_isolation.py
  specs/108-obsidian-owner-experience/analysis.md
  specs/108-obsidian-owner-experience/repair-ledger.md
  specs/108-obsidian-owner-experience/tasks.md
Due: npx prettier --write

feat(preview): add restricted mode with media disabled
  api/main.py
  api/security/restricted_preview.py
  api/tasks.py
  api/tests/test_restricted_preview.py
  development.docker.yml
  digital_ocean/docs/full-preview-runbook.md
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/scripts/python/full_preview_live.py
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
  react-app/Dockerfile
  react-app/e2e/restricted/notice.spec.ts
  react-app/playwright.restricted.config.mjs
  react-app/src/App.js
  react-app/src/__tests__/RestrictedPreviewNotice.test.jsx
  react-app/src/components/RestrictedPreviewNotice.jsx
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  specs/108-obsidian-owner-experience/restricted-preview.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(live): expect human-readable preference audit label
  react-app/e2e/live/full-preview-live.spec.ts
Due: none

docs(spec): plan unified layout and visual assurance feature 109
  specs/109-unified-layout-visual-contract/analysis.md
  specs/109-unified-layout-visual-contract/contracts/layout-acceptance.md
  specs/109-unified-layout-visual-contract/data-model.md
  specs/109-unified-layout-visual-contract/plan.md
  specs/109-unified-layout-visual-contract/quickstart.md
  specs/109-unified-layout-visual-contract/research.md
  specs/109-unified-layout-visual-contract/spec.md
  specs/109-unified-layout-visual-contract/tasks.md
  specs/109-unified-layout-visual-contract/test_validate_plan.py
  specs/109-unified-layout-visual-contract/traceability.md
  specs/109-unified-layout-visual-contract/validate_plan.py
Due: npx prettier --write

feat(layout): add opt-in shared layout prototype and responsive checks
  react-app/e2e/layout/representative.spec.ts
  react-app/playwright.layout.config.mjs
  react-app/src/__tests__/layout-policy.test.ts
  react-app/src/__tests__/unified-layout.test.tsx
  react-app/src/components/Navigation.js
  react-app/src/components/glass/AppShell.tsx
  react-app/src/components/glass/unified-layout.css
  react-app/src/config/layoutPolicy.ts
  react-app/src/pages/Dashboard.jsx
  react-app/src/pages/Home.js
  react-app/src/pages/SettingsCenter.jsx
  react-app/src/styles/home.css
  specs/109-unified-layout-visual-contract/analysis.md
  specs/109-unified-layout-visual-contract/defects.md
  specs/109-unified-layout-visual-contract/layout-decisions.md
  specs/109-unified-layout-visual-contract/progress.md
  specs/109-unified-layout-visual-contract/route-inventory.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(layout): extend shared shell across first-party route families
  react-app/e2e/layout/representative.spec.ts
  react-app/e2e/layout/route-families.spec.ts
  react-app/playwright.layout.config.mjs
  react-app/src/__tests__/layout-policy.test.ts
  react-app/src/components/Navigation.d.ts
  react-app/src/components/Navigation.js
  react-app/src/components/glass/AppShell.tsx
  react-app/src/components/glass/unified-layout.css
  react-app/src/components/public/PublicShell.jsx
  react-app/src/config/layoutPolicy.ts
  react-app/src/contexts/AuthContext.d.ts
  react-app/src/pages/AcceptInvitation.jsx
  react-app/src/pages/AdminConsole.jsx
  specs/109-unified-layout-visual-contract/analysis.md
  specs/109-unified-layout-visual-contract/progress.md
  specs/109-unified-layout-visual-contract/validate_plan.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat(layout): preserve home controls and enforce cross-browser release checks
  .github/workflows/ci-frontend.yml
  development.docker.yml
  local.docker.yml
  react-app/Dockerfile
  react-app/e2e/layout/evidence-reporter.mjs
  react-app/e2e/layout/fixtures.ts
  react-app/e2e/layout/home-controls.spec.ts
  react-app/e2e/layout/interaction-contract.spec.ts
  react-app/e2e/layout/layout-invariants.ts
  react-app/e2e/layout/negative-controls.spec.ts
  react-app/e2e/layout/representative.spec.ts
  react-app/e2e/layout/route-families.spec.ts
  react-app/playwright.layout.config.mjs
  react-app/src/__tests__/home/shared-home-controls.test.jsx
  react-app/src/components/glass/AppShell.tsx
  react-app/src/components/glass/unified-layout.css
  react-app/src/components/home/HomeObsidianNavigation.jsx
  react-app/src/components/home/HomeSharedControls.jsx
  react-app/src/components/public/PublicShell.jsx
  react-app/src/pages/Home.js
  react-app/src/services/glass/supports.d.ts
  react-app/src/test/TestMemoryRouter.tsx
  react-app/src/test/compatibility.d.ts
  react-app/src/test/jest-axe.d.ts
  react-app/tsconfig.json
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  specs/109-unified-layout-visual-contract/analysis.md
  specs/109-unified-layout-visual-contract/layout-decisions.md
  specs/109-unified-layout-visual-contract/progress.md
  specs/109-unified-layout-visual-contract/quickstart.md
  specs/109-unified-layout-visual-contract/test_deployment_contract.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(layout): reflow shared rails for enlarged text and available width
  react-app/e2e/layout/fixtures.ts
  react-app/e2e/layout/interaction-contract.spec.ts
  react-app/e2e/layout/representative.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-detail-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-light-chromium-light-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/operations/operations-release.spec.ts
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-german-chromium-german-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-light-chromium-light-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-reduced-motion-chromium-reduced-motion-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-chromium-rtl-chromium-rtl-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-empty-webkit-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-error-webkit-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-partial-webkit-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-read-only-webkit-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-reauth-webkit-desktop-linux.png
  react-app/e2e/operations/operations-release.spec.ts-snapshots/operations-center-webkit-desktop-webkit-desktop-linux.png
  react-app/src/__tests__/unified-layout-routed.test.tsx
  react-app/src/components/glass/AppShell.tsx
  react-app/src/components/glass/unified-layout.css
  specs/106-production-readiness-program/operations-visual-review.json
  specs/106-production-readiness-program/operations-visual-runner.json
  specs/109-unified-layout-visual-contract/analysis.md
  specs/109-unified-layout-visual-contract/contracts/layout-acceptance.md
Due: npx prettier --write

test(layout): bind completed visual repairs to current source
  specs/105-universal-media-library/visual-review.json
  specs/109-unified-layout-visual-contract/progress.md
Due: npx prettier --write
