Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: add redacted live canary preflight
  digital_ocean/scripts/python/live_canary_preflight.py
  digital_ocean/tests/test_live_canary_preflight.py
  scripts/config/complete-gate-v1.json
  scripts/tests/test_complete_gate.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/quickstart.md
Due: npx prettier --write

fix: stabilize python coverage surfaces
  scripts/config/complete-gate-v1.json
  scripts/python/run_api_coverage.py
  scripts/python/run_django_coverage.py
  scripts/tests/test_complete_gate.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

docs: fail closed live canary admission
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
  specs/093-base2-foundation-hardening/traceability.md
Due: npx prettier --write

feat: add bounded live preview canary
  digital_ocean/scripts/bash/live-canary-remote.sh
  digital_ocean/scripts/python/deploy_config.py
  digital_ocean/scripts/python/live_canary.py
  digital_ocean/scripts/python/live_canary_preflight.py
  digital_ocean/scripts/python/live_preview_provider.py
  digital_ocean/scripts/python/live_remote_bootstrap.py
  digital_ocean/scripts/python/preview_lease.py
  digital_ocean/scripts/python/preview_orchestrator.py
  digital_ocean/scripts/python/providerless_canary.py
  digital_ocean/scripts/python/render_live_canary_env.py
  digital_ocean/tests/test_live_canary.py
  digital_ocean/tests/test_live_canary_preflight.py
  digital_ocean/tests/test_live_preview_provider.py
  digital_ocean/tests/test_live_remote_bootstrap.py
  digital_ocean/tests/test_preview_lease.py
  digital_ocean/tests/test_preview_orchestrator.py
  digital_ocean/tests/test_render_live_canary_env.py
  scripts/bash/observe-compose-health.sh
  scripts/tests/test_traefik_canary_contract.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
  traefik/Dockerfile
  traefik/dynamic-canary.yml
  traefik/entrypoint.sh
Due: npx prettier --write

test: close live adapter coverage gaps
  digital_ocean/tests/test_live_preview_provider.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix: stabilize live canary evidence clock
  digital_ocean/scripts/python/live_canary.py
  digital_ocean/tests/test_live_canary.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix: keep live canary stdlib-only
  digital_ocean/scripts/python/orchestrate_teardown.py
  digital_ocean/tests/test_owned_teardown.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

docs: record live canary acceptance
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: add strict site manifest foundation
  react-app/src/config/siteManifest.ts
  scripts/config/complete-gate-v1.json
  scripts/python/site_manifest.py
  scripts/site-manifest.js
  scripts/tests/test_complete_gate.py
  scripts/tests/test_site_manifest.py
  shared/config/module-catalog.json
  site_profiles/ember-studio.json
  site_profiles/northstar-library.json
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: integrate generated site profiles
  .env.example
  api/main.py
  api/settings.py
  api/site_manifest.py
  api/site_profiles/ember-studio.json
  api/site_profiles/index.json
  api/site_profiles/northstar-library.json
  api/tests/test_openapi_and_misc.py
  development.docker.yml
  django/project/settings/base.py
  django/project/site_manifest.py
  django/site_profiles/ember-studio.json
  django/site_profiles/index.json
  django/site_profiles/northstar-library.json
  local.docker.yml
  react-app/Dockerfile
  react-app/src/App.js
  react-app/src/config/generated/ember-studio.json
  react-app/src/config/generated/index.json
  react-app/src/config/generated/northstar-library.json
  react-app/src/config/siteRuntime.ts
  react-app/vite.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/python/generate_site_profiles.py
  scripts/python/verify_site_profile_builds.py
  scripts/setup.js
  scripts/tests/test_site_manifest.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: preserve generated profile integrity
  .prettierignore
  api/site_profiles/ember-studio.json
  api/site_profiles/northstar-library.json
  django/site_profiles/ember-studio.json
  django/site_profiles/northstar-library.json
  react-app/src/config/generated/ember-studio.json
  react-app/src/config/generated/northstar-library.json
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

feat: formalize visual system contracts
  react-app/src/App.js
  react-app/src/stories/VisualContract.stories.tsx
  react-app/src/styles/tokens.css
  scripts/config/complete-gate-v1.json
  scripts/tests/test_visual_contract.py
  shared/config/design-system-v1.json
  shared/schemas/design-system-v1.schema.json
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: port reviewed obsidian visual behavior
  react-app/src/components/home/HomeFooter.jsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/home/HomeVisual.jsx
  react-app/src/pages/Home.js
  react-app/src/styles/home.css
  scripts/config/complete-gate-v1.json
  scripts/tests/test_visual_port.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: add hermetic visual harness
  react-app/e2e/visual/hermetic-visual.spec.ts
  react-app/package.json
  react-app/playwright.visual.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/tests/test_visual_harness_contract.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: govern reviewed visual baselines
  react-app/e2e/visual/hermetic-visual.spec.ts
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/ember-home-hero-linux.png
  scripts/bash/update-visual-baselines.sh
  scripts/config/complete-gate-v1.json
  scripts/tests/test_visual_baseline_contract.py
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: enforce accessible manifest branding
  react-app/e2e/visual/accessibility-matrix.spec.ts
  react-app/index.html
  react-app/src/App.js
  react-app/src/__tests__/glass-header.extra.test.tsx
  react-app/src/__tests__/glass-sidebar.public.test.tsx
  react-app/src/components/glass/GlassHeader.tsx
  react-app/src/components/glass/GlassSidebar.tsx
  react-app/src/components/home/HomeFooter.jsx
  react-app/src/components/home/HomeVisual.jsx
  react-app/src/components/portfolio/About.jsx
  react-app/src/pages/Home.js
  react-app/vite.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/python/verify_site_profile_builds.py
  scripts/tests/test_accessibility_matrix_contract.py
  scripts/tests/test_brand_inventory.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: accept manifest visual baseline
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix: remove legacy sample coverage surface
  react-app/src/__tests__/theme-persistence.test.ts
  react-app/src/components/glass/GlassSidebar.tsx
  react-app/src/components/portfolio/About.jsx
  react-app/src/components/portfolio/ContactForm.jsx
  react-app/src/components/portfolio/ProjectCard.jsx
  react-app/src/components/portfolio/ProjectsGrid.jsx
  react-app/src/services/theme/persistence.ts
  scripts/tests/test_brand_inventory.py
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

feat: add canonical site content models
  django/project/settings/base.py
  django/sitecontent/__init__.py
  django/sitecontent/admin.py
  django/sitecontent/apps.py
  django/sitecontent/migrations/0001_initial.py
  django/sitecontent/migrations/__init__.py
  django/sitecontent/models.py
  django/tests/test_site_content_models.py
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: expose tenant-safe site content APIs
  api/main.py
  api/repositories/__init__.py
  api/repositories/site_content.py
  api/routes/site_content.py
  api/services/site_content.py
  api/tests/contract/test_site_content_contract.py
  api/tests/test_site_content_service.py
  django/sitecontent/admin.py
  django/sitecontent/migrations/0001_initial.py
  django/sitecontent/models.py
  django/tests/test_site_content_models.py
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: cover site content repository branches
  api/tests/test_site_content_service.py
Due: none

feat: complete manifest public experience
  react-app/package.json
  react-app/src/App.js
  react-app/src/__tests__/__home/home-page.test.jsx
  react-app/src/__tests__/error-boundary.test.js
  react-app/src/__tests__/glass-header.extra.test.tsx
  react-app/src/__tests__/home/home-page.test.jsx
  react-app/src/__tests__/public-experience-contract.test.jsx
  react-app/src/__tests__/site-content-api.test.js
  react-app/src/components/ErrorBoundary.jsx
  react-app/src/components/glass/GlassHeader.tsx
  react-app/src/components/home/HomeFeatures.jsx
  react-app/src/components/home/HomeHero.jsx
  react-app/src/components/home/HomeTrust.jsx
  react-app/src/components/public/PublicShell.jsx
  react-app/src/pages/Dashboard.jsx
  react-app/src/pages/Home.js
  react-app/src/pages/public/ContactPage.jsx
  react-app/src/pages/public/ContentCollectionPage.jsx
  react-app/src/pages/public/ContentPage.jsx
  react-app/src/pages/public/NotFoundPage.jsx
  react-app/src/pages/public/SearchPage.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/siteContent.js
  scripts/config/complete-gate-v1.json
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: accept manifest experience baseline
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/ember-home-hero-linux.png
Due: none

test: accept injectable brand manifests
  scripts/tests/test_brand_inventory.py
Due: none

fix: remove unexplained experience controls
  react-app/src/components/Navigation.js
  react-app/src/pages/UserSettings.js
  specs/093-base2-foundation-hardening/experience-inventory.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: harden public forms and media
  api/routes/site_content.py
  api/security/public_content.py
  api/security/rate_limit.py
  api/services/site_content.py
  api/tests/contract/test_site_content_contract.py
  api/tests/security/test_site_content_abuse.py
  django/sitecontent/models.py
  django/tests/test_site_content_models.py
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: enforce search and seo policy
  react-app/src/__tests__/public-experience-contract.test.jsx
  react-app/src/components/public/PageMetadata.jsx
  react-app/src/components/public/PublicShell.jsx
  react-app/vite.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/python/verify_site_profile_builds.py
  scripts/tests/test_search_seo_contract.py
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: add consent and localization runtime
  react-app/package.json
  react-app/src/App.js
  react-app/src/__tests__/consent-localization.test.jsx
  react-app/src/__tests__/public-experience-contract.test.jsx
  react-app/src/components/public/ConsentBanner.jsx
  react-app/src/components/public/PrivacyRuntime.jsx
  react-app/src/pages/public/ContentPage.jsx
  react-app/src/routes/LocalizedExperience.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/privacyRuntime.js
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: enforce browser compatibility matrix
  docs/BROWSER_SUPPORT.md
  react-app/e2e/compatibility/public-compatibility.spec.ts
  react-app/package.json
  react-app/playwright.compatibility.config.mjs
  react-app/src/App.js
  react-app/src/__tests__/site-content-api.test.js
  react-app/src/routes/LocalizedExperience.jsx
  react-app/src/services/siteContent.js
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: enforce edge response policy
  docs/EDGE_SECURITY_POLICY.md
  react-app/nginx/default.conf
  scripts/config/complete-gate-v1.json
  scripts/python/validate_edge_security.py
  scripts/tests/test_edge_security_policy.py
  scripts/tests/test_react_image_build.py
  specs/093-base2-foundation-hardening/tasks.md
  traefik/dynamic-canary.yml
  traefik/dynamic.yml
Due: npx prettier --write

feat: add safe transactional email runtime
  api/services/email_service.py
  api/services/transactional_email.py
  api/tests/test_email_outbox.py
  api/tests/test_transactional_email.py
  docs/TRANSACTIONAL_EMAIL.md
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: close public experience checkpoint
  docs/PUBLIC_EXPERIENCE_ACCEPTANCE.md
  react-app/vite.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/tests/test_public_experience_checkpoint.py
  specs/093-base2-foundation-hardening/experience-inventory.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: add canonical identity domain
  django/tests/test_identity_domain_models.py
  django/users/admin.py
  django/users/migrations/0006_organization_authenticator_membership_invitation_and_more.py
  django/users/models.py
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat(identity): harden account and oauth contracts
  .env.example
  api/auth/repo.py
  api/main.py
  api/routes/auth.py
  api/routes/identity.py
  api/routes/oauth.py
  api/routes/privacy.py
  api/security/identity.py
  api/security/request_auth.py
  api/services/oauth_google.py
  api/settings.py
  api/tests/contract/test_identity_security_contract.py
  api/tests/test_oauth_google_option_a.py
  api/tests/test_openapi_and_misc.py
  django/tests/test_identity_domain_models.py
  django/users/api_views.py
  django/users/migrations/0007_protect_audit_and_remove_oauth_tokens.py
  django/users/models.py
  docs/IDENTITY_SECURITY.md
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix(git): run pre-push test through bash
  .husky/pre-push
Due: none

fix(test): stabilize python coverage collection
  scripts/python/run_api_coverage.py
  scripts/python/run_digitalocean_coverage.py
  scripts/python/run_django_coverage.py
  scripts/tests/test_complete_gate.py
Due: none

feat(identity): enforce tenant isolation boundaries
  api/db.py
  api/middleware/tenant.py
  api/redis_client.py
  api/repositories/site_content.py
  api/routes/site_content.py
  api/security/rate_limit.py
  api/security/tenant_context.py
  api/tests/contract/test_site_content_contract.py
  api/tests/security/test_site_content_abuse.py
  api/tests/security/test_tenant_boundary_matrix.py
  api/tests/test_site_content_service.py
  django/sitecontent/admin.py
  django/sitecontent/models.py
  django/tests/test_tenant_isolation_matrix.py
  docs/tenant-isolation.md
  shared/config/tenant-security.json
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix(gate): serialize browser and frontend checks
  react-app/playwright.account.config.mjs
  scripts/config/complete-gate-v1.json
  scripts/python/run_complete_gate.py
  scripts/tests/test_complete_gate.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix(gate): isolate django assertion rewriting
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
