Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

.lintstagedrc.json:

{
  "react-app/src/**/*.{js,jsx}": [
    "node react-app/node_modules/eslint/bin/eslint.js --fix",
    "node react-app/node_modules/prettier/bin/prettier.cjs --write"
  ],
  "*.{json,md,yml,yaml}": ["npx prettier --write"]
}

feat(content): protect schema draft edits
  docs/TESTING.md
  react-app/src/__tests__/content-workspace-schema-builder.test.jsx
  react-app/src/components/content/SchemaBuilder.jsx
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(gate): admit expanded workspace surfaces
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/tests/test_complete_gate.py
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(visual): accept workspace module baselines
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-tablet-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-final-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-middle-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-tablet-linux.png
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): enforce workspace coverage floor
  api/tests/test_content_workspace_cursor.py
  api/tests/test_content_workspace_derivative.py
  api/tests/test_content_workspace_media.py
  api/tests/test_content_workspace_repository_lifecycle.py
  api/tests/test_content_workspace_repository_media_relationships.py
  api/tests/test_content_workspace_repository_validation.py
  api/tests/test_content_workspace_route_failures.py
  api/tests/test_content_workspace_scanner.py
  specs/104-universal-content-data-workspace/tasks.md
  specs/104-universal-content-data-workspace/test_validate_plan.py
Due: npx prettier --write

feat(content): enforce workspace row isolation
  .env.example
  api/db.py
  api/repositories/content_workspace.py
  api/tests/security/test_tenant_boundary_matrix.py
  api/tests/test_content_migrations.py
  development.docker.yml
  digital_ocean/scripts/python/render_live_canary_env.py
  django/sitecontent/migrations/0009_workspace_runtime_role.py
  docs/tenant-isolation.md
  local.docker.yml
  postgres/bootstrap-workspace-role.sh
  scripts/bash/start.sh
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/powershell/setup.ps1
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/setup.js
  scripts/tests/test_workspace_postgres_contract.py
  shared/config/tenant-security.json
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

docs(spec): reconcile workspace isolation evidence
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): prove bounded workspace queries
  api/tests/test_content_workspace_repository_media_relationships.py
  scripts/python/run_workspace_postgres_checks.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): prove physical workspace conflicts
  scripts/python/run_workspace_postgres_checks.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(api): restore owner pool initialization
  api/db.py
  api/tests/security/test_tenant_boundary_matrix.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): isolate workspace worker database role
  .env.example
  api/db.py
  api/services/content_workspace_worker.py
  api/tests/security/test_tenant_boundary_matrix.py
  development.docker.yml
  digital_ocean/scripts/python/render_live_canary_env.py
  django/sitecontent/migrations/0010_workspace_worker_role.py
  docs/content-workspace-operations.md
  local.docker.yml
  postgres/bootstrap-workspace-role.sh
  scripts/bash/start.sh
  scripts/powershell/setup.ps1
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_postgres_checks.py
  scripts/setup.js
  scripts/tests/test_workspace_postgres_contract.py
  shared/config/tenant-security.json
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

feat(content): enforce workspace retention privacy
  api/services/content_workspace_storage.py
  api/services/content_workspace_worker.py
  api/services/data_rights_worker.py
  api/tasks.py
  api/tests/test_content_workspace_storage.py
  api/tests/test_content_workspace_tasks.py
  api/tests/test_content_workspace_worker.py
  api/tests/test_data_rights_worker.py
  docs/content-workspace-operations.md
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): prove workspace migration recovery
  django/tests/test_content_workspace_migrations.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/python/run_workspace_role_migration_checks.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): require workspace visual gate
  scripts/config/complete-gate-v1.json
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test(content): align exact-head release contracts
  api/tests/security/test_tenant_boundary_matrix.py
  scripts/config/surface-drift-v1.json
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

docs(content): record local assurance evidence
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(setup): honor local workspace environment
  scripts/bash/start.sh
  scripts/setup.js
  scripts/tests/setup.inputs.test.js
  scripts/tests/test_service_health_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(setup): invoke environment sync through bash
  scripts/bash/start.sh
  scripts/tests/test_service_health_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(workspace): harden guarded publication gate
  api/tests/test_settings_contract.py
  django/sitecontent/models.py
  scripts/bash/test.sh
  scripts/tests/test_service_health_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(workspace): restore runtime pool initialization
  api/db.py
  api/tests/security/test_tenant_boundary_matrix.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(workspace): satisfy static type contracts
  api/repositories/content_workspace.py
  api/services/content_workspace_worker.py
  api/tests/test_content_workspace_repository_lifecycle.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(security): admit Pillow SPDX license
  scripts/config/supply-chain-policy.json
  scripts/tests/test_supply_chain_policy.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(ci): restore workspace stack assurance
  django/requirements.txt
  e2e/docker-compose.e2e.yml
  react-app/src/__tests__/content-workspace-structured-fields.test.jsx
  scripts/tests/test_complete_gate.py
  scripts/tests/test_workspace_postgres_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test(frontend): isolate Web Crypto boundary
  react-app/src/__tests__/content-workspace-structured-fields.test.jsx
  scripts/bash/test.sh
  scripts/tests/test_service_health_contract.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs(spec): record feature 104 review readiness
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
  specs/104-universal-content-data-workspace/test_validate_plan.py
  specs/104-universal-content-data-workspace/validate_plan.py
Due: npx prettier --write

test(frontend): await committed workspace record
  react-app/src/__tests__/content-workspace.test.jsx
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(deploy): admit successful workspace role bootstrap
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

fix(deploy): discover completed one-shot services
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
  specs/104-universal-content-data-workspace/analysis.md
  specs/104-universal-content-data-workspace/tasks.md
Due: npx prettier --write

test: harden media visual assurance
  react-app/e2e/media/media-release.spec.ts
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-high-contrast-chromium-high-contrast-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-large-text-chromium-large-text-linux.png
  react-app/e2e/media/media-release.spec.ts-snapshots/media-library-chromium-rtl-chromium-rtl-linux.png
  react-app/src/styles/media-library.css
Due: none

test: bind media release evidence
  scripts/config/complete-gate-v1.json
  scripts/tests/test_media_visual_review.py
  specs/105-universal-media-library/tasks.md
  specs/105-universal-media-library/validate_plan.py
  specs/105-universal-media-library/visual-review.json
Due: npx prettier --write

test: refresh media-aware visual baselines
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-full-page-tablet-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-desktop-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-mobile-linux.png
  react-app/e2e/visual/hermetic-visual.spec.ts-snapshots/base2-obsidian-home-hero-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-command-stack-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-feature-grid-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-footer-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-footer-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-footer-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-final-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-middle-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-area-hero-tablet-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-footer-desktop-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-footer-mobile-linux.png
  react-app/e2e/visual/obsidian-restoration.spec.ts-snapshots/base2-footer-tablet-linux.png
  scripts/config/surface-drift-v1.json
Due: npx prettier --write

test: isolate media release environments
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/tests/test_interaction_pack_manifests.py
Due: npx prettier --write

test: stabilize cross-module release assurance
  react-app/e2e/workspace/workspace-release.spec.ts
  react-app/e2e/workspace/workspace-release.spec.ts-snapshots/workspace-exports-chromium-compact-chromium-compact-linux.png
  react-app/e2e/workspace/workspace-release.spec.ts-snapshots/workspace-schema-chromium-landscape-touch-chromium-landscape-touch-linux.png
  scripts/python/run_module_checkpoint.py
Due: none

fix: close generated module dependencies
  scripts/python/create_base2_site.py
  scripts/tests/test_base2_factory.py
Due: none

docs: record media release evaluation
  specs/105-universal-media-library/analysis.md
  specs/105-universal-media-library/tasks.md
Due: npx prettier --write

feat: add media governance persistence
  django/sitecontent/migrations/0013_media_governance.py
  django/sitecontent/migrations/0014_media_processing_governance.py
  django/sitecontent/models.py
  django/tests/test_media_library_models.py
  modules/media/module.json
  scripts/config/surface-drift-v1.json
  scripts/python/run_media_postgres_checks.py
  scripts/python/run_workspace_postgres_acceptance.py
  scripts/tests/test_media_library_manifest.py
  scripts/tests/test_media_library_migration.py
Due: npx prettier --write

feat: add governed media operations
  api/repositories/media_library.py
  api/routes/media_library.py
  api/services/media_library_operations.py
  api/services/media_library_storage.py
  api/tests/test_media_library_operations.py
  api/tests/test_media_library_routes.py
  api/tests/test_media_library_storage.py
  react-app/src/__tests__/media-library-api.test.js
  react-app/src/__tests__/media-library.test.jsx
  react-app/src/pages/MediaLibrary.jsx
  react-app/src/services/mediaLibrary.js
  react-app/src/styles/media-library.css
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

feat: harden media recovery and governance
  api/security/identity.py
  api/services/media_library_governance.py
  api/services/media_library_worker.py
  api/tests/fixtures/media_library_cases.json
  api/tests/test_media_library_governance.py
  api/tests/test_media_library_worker.py
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/tests/test_media_library_fixtures.py
Due: npx prettier --write

feat: add media resilience governance
  react-app/src/styles/media-library.css
Due: none
