Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(deploy): stabilize post-deploy checks
  digital_ocean/scripts/powershell/deploy.ps1
  traefik/entrypoint.sh
Due: none

fix(ci): avoid secrets in job if
  .github/workflows/ci-frontend.yml
Due: npx prettier --write

fix(deploy): allow prod TLS resolver
  digital_ocean/scripts/powershell/test.ps1
Due: none

ci: use public ECR images for postgres/redis
  .github/workflows/ci-backend.yml
Due: npx prettier --write

ci(e2e): use public ECR images
  e2e/docker-compose.e2e.yml
Due: npx prettier --write

ci(e2e): mirror Docker base images to public ECR
  api/.Dockerfile
  django/.Dockerfile
  e2e/docker-compose.e2e.yml
  react-app/.Dockerfile
Due: npx prettier --write

ci(e2e): retry compose up on registry flake
  .github/workflows/ci-e2e.yml
Due: npx prettier --write

chore(security): allowlist traefik dashboard
  traefik/dynamic.yml
Due: npx prettier --write

fix(frontend): guard localStorage in auth context
  react-app/src/contexts/AuthContext.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

fix(storybook): satisfy lint for HomePage story
  react-app/src/stories/home/HomePage.stories.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

fix: ensure TLS for subdomains
  .gitignore
  digital_ocean/scripts/powershell/deploy.ps1
  traefik/dynamic.yml
Due: npx prettier --write

fix: satisfy sidebar lint
  react-app/src/components/glass/GlassSidebar.tsx
Due: none

Integrate volcanic obsidian visuals into Base2 home
  react-app/src/components/home/HomeHero.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Integrate volcanic obsidian visuals into Base2 home
  react-app/src/components/home/HomeFeatures.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Integrate volcanic obsidian visuals into Base2 home
  react-app/src/components/home/HomeVisual.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Integrate volcanic obsidian visuals into Base2 home
  react-app/src/styles/home.css
Due: none

Integrate volcanic obsidian visuals into Base2 home
  react-app/src/__tests__/__home/home-page.test.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Integrate volcanic obsidian visuals into Base2 home
  react-app/e2e/home-style.spec.ts
Due: none

Make Base2 home root backdrop explicit
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Make Base2 home root backdrop explicit
  react-app/src/styles/home.css
Due: none

Stabilize Base2 home backdrop E2E assertion
  react-app/e2e/home-style.spec.ts
Due: none

Checkout requested branch during droplet bootstrap
  digital_ocean/scripts/bash/digital_ocean_base.sh
Due: none

Use sandbox branch in droplet bootstrap checkout
  digital_ocean/scripts/bash/digital_ocean_base.sh
Due: none

Deepen volcanic obsidian Base2 visual integration
  react-app/src/components/home/HomeObsidianOps.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Deepen volcanic obsidian Base2 visual integration
  react-app/src/components/home/HomeThermalSecurity.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Deepen volcanic obsidian Base2 visual integration
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Deepen volcanic obsidian Base2 visual integration
  react-app/src/styles/home.css
Due: none

Deepen volcanic obsidian Base2 visual integration
  react-app/src/__tests__/__home/home-page.test.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Deepen volcanic obsidian Base2 visual integration
  react-app/e2e/home-style.spec.ts
Due: none

Fix obsidian visual test markers and accessibility
  react-app/src/components/home/HomeObsidianOps.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Fix obsidian visual test markers and accessibility
  react-app/src/components/home/HomeThermalSecurity.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Preserve explicit obsidian backdrop color
  react-app/src/styles/home.css
Due: none

Keep obsidian backdrop color after layered background
  react-app/src/styles/home.css
Due: none

Add Base2 volcanic navigation controls
  react-app/src/components/home/HomeObsidianNavigation.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Use Base2 volcanic navigation on home
  react-app/src/pages/Home.js
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Style Base2 volcanic navigation controls
  react-app/src/styles/home.css
Due: none

Test Base2 volcanic navigation controls
  react-app/src/__tests__/__home/home-page.test.jsx
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write

Cover Base2 volcanic navigation e2e
  react-app/e2e/home-style.spec.ts
Due: none

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
