Repository woodkill00/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix(coverage): isolate unstable api instrumentation
  api/tests/test_identity_admin_repository.py
  scripts/config/complete-gate-v1.json
  scripts/python/run_api_coverage.py
  scripts/python/run_coverage_policy.py
  scripts/tests/test_coverage_policy.py
  scripts/tests/test_partitioned_api_coverage.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix(gate): enforce dependency order and crash domains
  scripts/python/run_api_coverage.py
  scripts/python/run_complete_gate.py
  scripts/tests/test_complete_gate.py
  scripts/tests/test_partitioned_api_coverage.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix(gate): isolate python security and provider suites
  scripts/config/complete-gate-v1.json
  scripts/python/run_digitalocean_coverage.py
  scripts/python/run_identity_security_matrix.py
  scripts/tests/test_complete_gate.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

test: isolate data rights gate matrix
  scripts/config/complete-gate-v1.json
  scripts/python/run_data_rights_matrix.py
  scripts/tests/test_complete_gate.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

feat: add secure module lifecycle
  docs/module-sdk.md
  scripts/config/complete-gate-v1.json
  scripts/python/module_lifecycle.py
  scripts/python/module_registry.py
  scripts/tests/test_complete_gate.py
  scripts/tests/test_module_lifecycle.py
  scripts/tests/test_module_registry.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: add module sdk fixtures
  modules/fixture-notes/migrations/0001.sql
  modules/fixture-notes/module.json
  modules/fixture-notes/settings.schema.json
  scripts/tests/fixtures/modules/hostile-command.json
  scripts/tests/fixtures/modules/hostile-traversal.json
  scripts/tests/test_module_registry.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: add typed content packs
  api/repositories/site_content.py
  api/routes/site_content.py
  api/services/site_content.py
  api/tests/contract/test_site_content_contract.py
  api/tests/test_site_content_service.py
  django/tests/test_content_packs.py
  docs/content-packs.md
  modules/blog/module.json
  modules/blog/settings.schema.json
  modules/documentation/module.json
  modules/documentation/settings.schema.json
  modules/portfolio/module.json
  modules/portfolio/settings.schema.json
  react-app/src/__tests__/content-packs.test.jsx
  react-app/src/__tests__/site-content-api.test.js
  react-app/src/pages/public/ContentCollectionPage.jsx
  react-app/src/pages/public/ContentPage.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/siteContent.js
  scripts/config/complete-gate-v1.json
  scripts/tests/test_complete_gate.py
  scripts/tests/test_content_pack_manifests.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: package form and media modules
  docs/forms-gallery-media-packs.md
  modules/forms/module.json
  modules/forms/settings.schema.json
  modules/gallery/module.json
  modules/gallery/settings.schema.json
  modules/media/module.json
  modules/media/settings.schema.json
  scripts/config/complete-gate-v1.json
  scripts/tests/test_complete_gate.py
  scripts/tests/test_interaction_pack_manifests.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix: enforce append only identity audit
  api/migrations/runner.py
  api/migrations/sql/007_protect_audit_events.sql
  django/api_schema/migrations/0004_protect_api_audit_events.py
  scripts/config/complete-gate-v1.json
  scripts/python/run_identity_postgres_acceptance.py
  scripts/python/run_identity_postgres_checks.py
  scripts/tests/test_complete_gate.py
  scripts/tests/test_identity_postgres_contract.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix: gate audit trigger by database vendor
  django/api_schema/migrations/0004_protect_api_audit_events.py
Due: none

feat: add transactional scheduling packs
  api/main.py
  api/repositories/scheduling.py
  api/routes/scheduling.py
  django/project/settings/base.py
  django/scheduling/__init__.py
  django/scheduling/apps.py
  django/scheduling/migrations/0001_initial.py
  django/scheduling/migrations/__init__.py
  django/scheduling/models.py
  django/tests/live_scheduling_race.py
  django/tests/test_scheduling_models.py
  docs/events-booking-packs.md
  modules/booking/module.json
  modules/booking/settings.schema.json
  modules/events/module.json
  modules/events/settings.schema.json
  react-app/src/__tests__/scheduling.test.jsx
  react-app/src/pages/public/EventsPage.jsx
  react-app/src/routes/PublicRoutes.jsx
  react-app/src/services/scheduling.js
  scripts/config/complete-gate-v1.json
  scripts/python/run_scheduling_postgres_acceptance.py
  scripts/tests/test_scheduling_pack_manifests.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

test: cover scheduling boundaries
  api/tests/test_scheduling_repository.py
  react-app/src/__tests__/scheduling-api.test.js
  specs/093-base2-foundation-hardening/analysis.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

feat: add moderated engagement packs
  api/main.py
  api/repositories/site_content.py
  api/routes/engagement.py
  api/security/engagement.py
  api/services/site_content.py
  api/tests/security/test_engagement_policy.py
  api/tests/test_engagement_service.py
  docs/community-support-packs.md
  modules/community/module.json
  modules/community/settings.schema.json
  modules/content/module.json
  modules/content/settings.schema.json
  modules/support/module.json
  modules/support/settings.schema.json
  scripts/config/complete-gate-v1.json
  scripts/tests/test_engagement_pack_manifests.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix: harden engagement write boundary
  api/routes/engagement.py
  api/security/rate_limit.py
  api/services/site_content.py
  api/tests/test_engagement_route.py
Due: none

feat: add disabled commercial packs
  api/providers/__init__.py
  api/providers/payments.py
  api/services/commercial_packs.py
  api/tests/security/test_payment_provider_boundary.py
  api/tests/test_commercial_packs.py
  docs/commercial-packs.md
  modules/catalog/module.json
  modules/catalog/settings.schema.json
  modules/commerce/module.json
  modules/commerce/settings.schema.json
  modules/listing/module.json
  modules/listing/settings.schema.json
  modules/marketplace/module.json
  modules/marketplace/settings.schema.json
  modules/membership/module.json
  modules/membership/settings.schema.json
  modules/subscription/module.json
  modules/subscription/settings.schema.json
  scripts/config/complete-gate-v1.json
  scripts/tests/test_commercial_pack_manifests.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: complete module acceptance checkpoint
  docs/module-acceptance.md
  scripts/config/complete-gate-v1.json
  scripts/python/run_module_checkpoint.py
  scripts/tests/test_module_checkpoint.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

test: align module tenant checkpoint
  api/tests/security/test_tenant_boundary_matrix.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

feat: add operations recovery assurance
  docs/operations-observability.md
  docs/recovery-assurance.md
  scripts/config/complete-gate-v1.json
  scripts/python/operations_telemetry.py
  scripts/python/recovery_assurance.py
  scripts/tests/test_operations_telemetry.py
  scripts/tests/test_recovery_assurance.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: add immutable operations checkpoint
  digital_ocean/scripts/python/release_orchestrator.py
  digital_ocean/tests/test_release_orchestrator.py
  docs/capacity-operations.md
  docs/immutable-release.md
  scripts/config/capacity-profiles.json
  scripts/config/complete-gate-v1.json
  scripts/python/capacity_assurance.py
  scripts/python/run_operations_checkpoint.py
  scripts/tests/test_capacity_assurance.py
  scripts/tests/test_operations_checkpoint.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

docs: record runtime convergence evidence
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

feat: add exact-commit website factory
  docs/website-factory.md
  factory_profiles/blog-portfolio.json
  factory_profiles/marketplace.json
  factory_profiles/saas.json
  scripts/config/complete-gate-v1.json
  scripts/create-base2-site.ps1
  scripts/create-base2-site.sh
  scripts/python/base2_upgrade_advisor.py
  scripts/python/create_base2_site.py
  scripts/python/validate_generated_site.py
  scripts/tests/test_base2_factory.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/contracts/factory-profile.schema.json
  specs/093-base2-foundation-hardening/contracts/factory-provenance.schema.json
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

feat: prepare generated child canary
  digital_ocean/scripts/python/generated_child_canary_preflight.py
  digital_ocean/tests/test_generated_child_canary_preflight.py
  docs/website-factory.md
  scripts/config/complete-gate-v1.json
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

fix: bound WSL gate recovery
  docs/wsl-gate-recovery.md
  scripts/config/complete-gate-v1.json
  scripts/python/classify_gate_runtime_failure.py
  scripts/run-complete-gate-wsl.ps1
  scripts/tests/test_gate_runtime_recovery.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

feat: add feature 093 production closeout gates
  docs/feature-093-production-readiness.md
  scripts/config/complete-gate-v1.json
  scripts/config/surface-drift-v1.json
  scripts/python/feature_093_closeout.py
  scripts/python/validate_surface_drift.py
  scripts/tests/test_feature_093_closeout.py
  scripts/tests/test_surface_drift.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
  specs/093-base2-foundation-hardening/traceability.md
Due: npx prettier --write

fix: bind live evidence to closeout-only delta
  scripts/python/feature_093_closeout.py
  scripts/tests/test_feature_093_closeout.py
Due: none

fix: classify Playwright worker segfaults
  docs/wsl-gate-recovery.md
  scripts/python/classify_gate_runtime_failure.py
  scripts/tests/test_gate_runtime_recovery.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

test: bind feature 093 gate recovery closeout
  scripts/python/feature_093_closeout.py
  scripts/tests/test_feature_093_closeout.py
Due: none

fix: restore independent feature 093 gates
  .github/workflows/ci-backend.yml
  .github/workflows/ci-frontend.yml
  api/repositories/scheduling.py
  api/tests/security/test_engagement_policy.py
  api/tests/test_engagement_service.py
  api/tests/test_scheduling_repository.py
  django/tests/live_scheduling_race.py
  scripts/python/feature_093_closeout.py
  scripts/tests/test_feature_093_closeout.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: npx prettier --write

fix: reconcile backend types and storybook budget
  api/db.py
  api/repositories/site_content.py
  api/security/request_auth.py
  react-app/.storybook/main.js
  scripts/python/feature_093_closeout.py
  scripts/tests/test_ci_policy.py
  scripts/tests/test_feature_093_closeout.py
Due: none

fix: bound gunicorn process probe
  api/tests/test_process_model.py
  scripts/python/feature_093_closeout.py
  scripts/tests/test_feature_093_closeout.py
  specs/093-base2-foundation-hardening/analysis.md
Due: npx prettier --write

test: await content pack render
  react-app/src/__tests__/content-packs.test.jsx
  scripts/python/feature_093_closeout.py
  scripts/tests/test_feature_093_closeout.py
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

docs: close feature 093 evidence
  docs/feature-093-production-readiness.md
  scripts/config/surface-drift-v1.json
  specs/093-base2-foundation-hardening/analysis.md
  specs/093-base2-foundation-hardening/tasks.md
  specs/093-base2-foundation-hardening/traceability.md
Due: npx prettier --write

test: close preview publication gates
  .github/workflows/ci-perf-smoke.yml
  .github/workflows/security.yml
  api/requirements.txt
  digital_ocean/tests/test_full_preview_entrypoints.py
  digital_ocean/tests/test_full_preview_probe.py
  digital_ocean/tests/test_refresh_full_preview_allowlist.py
  digital_ocean/tests/test_render_full_preview_env.py
  django/requirements.txt
  react-app/src/__tests__/home/home-obsidian-navigation.test.jsx
  react-app/src/__tests__/home/home-page.test.jsx
  react-app/src/components/portfolio/ProjectCard.jsx
  scripts/config/supply-chain-policy.json
  specs/094-base2-full-preview/analysis.md
  specs/094-base2-full-preview/traceability.md
Due: node react-app/node_modules/eslint/bin/eslint.js --fix, node react-app/node_modules/prettier/bin/prettier.cjs --write, npx prettier --write

fix: declare backend CI dependencies
  api/requirements.in
  api/requirements.txt
  django/requirements.in
  django/requirements.txt
  specs/094-base2-full-preview/analysis.md
  specs/094-base2-full-preview/traceability.md
Due: npx prettier --write

fix: retain safe preview bootstrap diagnostics
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix: identify remote bootstrap failure stage
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix: preserve bootstrap stage marker
  digital_ocean/scripts/python/full_preview_remote.py
  digital_ocean/tests/test_full_preview_entrypoints.py
Due: none

fix: run remote renderer as package module
  digital_ocean/scripts/bash/full-preview-remote.sh
  digital_ocean/tests/test_full_preview_systemd.py
Due: none

fix: create DigitalOcean apex by domain name
  digital_ocean/scripts/python/full_preview_dns.py
  digital_ocean/tests/test_full_preview_dns.py
  digital_ocean/tests/test_full_preview_live.py
Due: none

Path conditions:
  node react-app/node_modules/eslint/bin/eslint.js --fix: any of: react-app/src/**/*.{js,jsx}
  node react-app/node_modules/prettier/bin/prettier.cjs --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
